[2013-06-15 11:40] aengelke opened #529 "Clean up tmp-folders."
It'd be nice if Processing would delete unused tmp-folders. (After 1 month of use I had more than 1000 folders!)

[2015-04-04 23:01] benfry opened #351 "remove custom ProgressMonitor and ProgressBar code from processing.app.contrib"
I suspect the code in `ContribProgressMonitor` and `ContribProgressBar` can mostly be replaced with built-in Swing functions. The code appears to be adapted from old example code found on the web.

[2015-04-18 05:27] Akarshit opened #355 "Use a better supported library than jEditSyntax"
jEdit is now 14 years old and is not maintained/updated. It would be very helpful if the code using jEdit can be replaced with something better maintained. RSyntaxArea is an alternative but other suggetions are welcome.
This change might not get into Processing 3.x but will be very useful in future.

[2015-05-26 21:11] AmnonOwed opened #724 "Add support for floating point textures to OpenGL"
I'm packing data in a texture (PImage) to send to a fragment shader. I'm running into the limitations of the 32bit RGBA format that seems to be the default for every texture in Processing. It's causing banding effects in my output. Switching to floating point textures will most likely solve these problems, because of the increased accuracy.

I have searched high and low (all the forums, the source

[2015-09-28 16:11] torranto opened #645 "Processing is not working with enabled system proxy since version 3.0a8"

[2015-10-01 20:01] SebCanet opened #362 "Add the ability to specify the settings folder so that Processing can be portable"
Hi, I'm working in schools and I would to use a portable version, usable on USB stick. Also because there are securities, and as I work in different school there are different securities. On Processing3 I didn't find all the option I could find in Processing2 preferences to make quite portable (because it still write in c:\Users\AppDatat\etc

Thanks a lot for helping me.

[2015-11-02 16:18] jamesjgrady opened #201 "spacing of the updates number/circle in the lower right is off"
@benfry can the orange circle be slightly bigger or moved so the update number does not hit the edge of the circle. (see screen shots with suggested revision)

Current
![current-update](https://cloud.githubusercontent.com/assets/2600893/10887094/4df9c74e-8153-11e5-9316-1ff6b6439482.png)

Revised
![revised-update](https://cloud.githubusercontent.com/assets/2600893/10887095/4dfdb89a-8153-11e5-9c89-7

[2016-03-08 10:12] vormplus opened #638 "Contents of Help Menu disabled (Mac OS X)"
The content of the Help menu sometimes gets disabled on Mac OS X (see screenshot below). Pressing the backspace key in the Search field also doesn't work when the menu items are disabled.

<img width="444" alt="Processing Help Menu" src="https://cloud.githubusercontent.com/assets/805141/13598258/28162b02-e51d-11e5-91c9-68b376774112.png">

[2016-05-08 16:42] jdf opened #631 "dispose handlers not called when stop button pressed"
In the following sketch, the dispose handler is called when the escape key is pressed, but not when the stop button is pressed.

dispose_bug

[code]

SampleLibrary.java

[code]

[2017-03-23 12:33] OverdriveNGain opened #643 "beginContour() and endContour doesnt work on shape"
[code]

this code came directly from the processing website (although shortened), yet it still doesnt work. https://processing.org/reference/PShape_beginContour_.html

Processing 3.3
Windows 10, 64-bit[
![untitled](https://cloud.githubusercontent.com/assets/26625414/24247693/aabf9370-1007-11e7-8d19-285b878cda7b.png)
](url)

[2017-06-05 15:01] mxa opened #448 "an incompatible Mode prevents the PDE from quitting after the last window is closed"
On Linux (last running version 3.3) closing the last processing window doesn't quit processing, but leaves the process running without a possibility to reach it. <kbd>ctl</kbd>+<kbd>c</kbd> in the terminal window where processing has been started from will quit it.

Possible solutions for this issue would be:
1. End the process after the last window has been closed.
2. Use a tabbed window instead

[2018-02-25 20:47] austince opened #117 "Language Server for VS Code and others"
## Description

I'm wondering if there has been any work to create a Language Server for Processing yet. It would be very useful for people who would like to use the language outside of the Processing IDE like [this project for VS Code](https://github.com/TobiahZ/processing-vscode). I'm not sure if I'll have time I'd love to help try to get it started if it hasn't been before!

[2019-08-27 02:55] daNewGuy opened #445 "Error during download and install of Python Mode for Processing 3"
Brand new user and programmer here! Hi everyone! Tried the troubleshooting guide and looking up existing issues first - I'm so sorry if this is already resolved... I'll attempt to provide as many details below as possible. Thank you **so much** in advance for your time and attention!

## Description
Unable to add Python mode - receiving this error message when I select (then click Install) 'Python

[2019-10-07 09:44] StanLepunK opened #2 "Failled to build with Java 11"
My terminal explain to me I need Java 1.8 to build this version is weird or not ?
`/Users/stan/En_cours/code/github/PROCESSING_and_CO/processing4/build/build.xml:57: Unsupported Java version: 11.0.4. To build, make sure that Java 8 (aka Java 1.8) is installed.`

[2019-10-07 11:10] benfry commented on #2
This fork doesn't do anything yet.

[2019-10-07 11:10] #2 closed

[2019-10-07 12:58] StanLepunK commented on #2
ok, so for the moment we must conitnue to test on this one https://github.com/sampottinger/processing

[2019-10-07 21:46] benfry opened #3 "Update isAccessible() in Table to use JDK 11 reflection methods"
Currently a couple warnings inside `Table` about using `canAccess()` instead of `isAccessible()`. Just need to track down the correct way to re-implement.

[2019-10-07 21:51] benfry opened #4 "Switch to getModifiersEx() in PSurfaceAWT"
We've not used `getModifiersEx()` in the past, because it (traditionally) has caused problems with some modifiers not being set properly. But now that it's deprecated, we need to make the switch and do a bunch of testing to make sure it's behaving the same way.

The fix is super easy. The debugging/testing is a bit time-consuming.

[2019-10-08 18:28] benfry opened #6 "cleaning up build/macosx/jdk-0u1.tgz and build/macosx/jdk-11.0.1+13/"
The current build creates two files not covered by `.gitignore` that we should sort out.

	build/macosx/jdk-0u1.tgz
	build/macosx/jdk-11.0.1+13/

The first one looks like it's using and old `substring()` call to clean up the name of the downloaded JDK… It should be something like `jdk-11.04.tgz` or whatever the syntax is nowadays.

For the second, do we need this temp folder kept around? In the pa

[2019-10-08 18:54] benfry opened #7 "replace deprecated Native.loadLibrary() from JNA"
Inside `DefaultPlatform` and `WindowsPlatform`, we're apparently using a now-deprecated library loading function for JNA. Just need to swap it with the suggested replacement.

[2019-10-08 19:50] benfry opened #8 "Move tests to a separate build target in build.xml"
Instead of running all tests for all sub-projects on `ant run`, move the tests to `ant test` (which should also be required for `ant dist`).

[2019-10-08 22:32] benfry opened #10 "untangle ImportUtil inside processing.mode.java.preproc.code"
The changes to break out `getCoreImports()` and others will likely have trashed Android Mode pretty badly; as these were public methods that are overridden by subclasses like Android Mode. That's why they weren't `static` in the first place, and they were given a single point where they could be overridden.

[2019-10-09 10:16] benfry commented on #10
This was originally titled “untangle `ImportUtil` inside `processing.mode.java.preproc.code`” but I think we might need a broader rethinking of the changes inside `processing.mode.java` in general. We may want to re-apply the changes piecemeal so that there's a better sense of where everything has moved.

[2019-10-10 15:34] sampottinger opened #11 "Allow modes to override PdeParseTreeListener in PdePreprocessor"
In talking with @codeanticode, it's not clear how modes should modify preprocessor behavior, Specifically, with the patterns introduced by ANTLR 4, the parse tree listener is where the preprocessing edits are generated and some client code (like modes) may need to override some of the preprocessing edit behavior.

[2019-10-11 13:16] codeanticode commented on #11
@sampottinger thanks a lot for this!

So the way to use the mode-specific preprocessor would be:

[code]

[2019-10-12 17:24] sampottinger commented on #11
Sorry! I think I responded by email but not here. For progeny, yes that's correct.

[2019-10-20 23:07] sampottinger commented on #11
This is resolved with #13. Closing...

[2019-10-20 23:07] #11 closed

[2019-10-20 23:08] sampottinger commented on #6
Hey @benfry! I attempted to resolve this with #12. Can I close this issue? Thanks!

[2019-10-21 01:17] sampottinger commented on #7
Should be fixed with #15

[2019-10-27 22:39] clankill3r opened #16 "static imports partly broken"
In 3.5.3 you could use `import static`.
Here I use it for `Ani.init()` in setup.

[code]
I use Ani as an example cause i didn't want to share a whole project to demonstrate.

With processing4 I get:

The 'No library found' error is not new, but not being able to use the static methods is new.

!!! I do use the latest release that can be downloaded from Sam Pottinger's site, which is dated Septembe

[2019-11-04 22:22] sampottinger commented on #16
Hummm.... Thanks for the issue @clankill3r. I will try to take a look!

[2019-11-04 23:09] sampottinger commented on #16
Ah I see what you mean @clankill3r... This has been like half broken (half working?) for a while in mainline processing (https://github.com/processing/processing/issues/5577). :-/ I can 100% fix this! However, I am worried about Ben mentioning it was not supported (I can't find anything in the [official docs](https://github.com/processing/processing/wiki/Supported-Platforms) saying it's not suppor

[2019-11-05 01:10] sampottinger commented on #16
Hey there @clankill3r! https://github.com/sampottinger/processing4/pull/19 would resolve your issue. I'll redirect that PR to this branch shortly after a little more testing.

[2019-11-05 02:19] sampottinger commented on #16
Sorry one more update @clankill3r. I put in https://github.com/processing/processing4/pull/18. I'll post a new build up on my website in a bit depending on how that PR goes. Thanks for your patience!

[2019-11-06 08:52] clankill3r commented on #16
great! Looking forward to the new build.

Op di 5 nov. 2019 om 03:19 schreef A Samuel Pottinger <
notifications@github.com>:

[2019-11-06 09:00] clankill3r opened #19 "Console font bug, cursor is off"
I reported a similar issue a while ago for the text editor but I noticed it happens in the console too.

![2019-11-06 09 57 22](https://user-images.githubusercontent.com/738650/68283583-15ce2e80-007c-11ea-8037-21cba2759ab8.gif)

I'm using the latest version of Samuel's website (which is from some time back, so it might been have fixed).

[2019-11-06 21:38] sampottinger commented on #19
Hey there! The text editing area was resolved in https://github.com/sampottinger/processing/issues/103 (Processing's custom text area UI was not compatible with Java 11 possibly b/c JEP 263) and should be active in your build. I wasn't able to reproduce but I'll keep digging. Which font and at what size?

[2019-11-06 22:47] sampottinger commented on #19
Hey there! Sorry... I was able to reproduce with Source Code Pro 14px. This is a bit funky because  I thought Processing simply used `DefaultStyledDocument` default drawing in `EditorConsole` unlike `JEditTextArea` in which processing uses custom drawing behavior. I'll need to do some digging...

[2019-11-07 09:29] clankill3r commented on #19
I had Source Code Pro 16px on OSX.

Op wo 6 nov. 2019 om 23:48 schreef A Samuel Pottinger <
notifications@github.com>:

[2019-11-07 16:46] sampottinger commented on #19
Hey there! So... we aren't doing custom rendering for that component... It's just a standard JTextPane (see EditorConsole). I'm slightly worried this might be https://bugs.openjdk.java.net/browse/JDK-8158370. :-/ The resolution would be wait for Java to fix upstream or override drawing behavior. I'll be back with more soon.

[2019-11-07 19:07] sampottinger commented on #19
Well... I'm not quite sure how this bug is manifesting but I traced it down to https://github.com/processing/processing4/blob/master/app/src/processing/app/ui/EditorConsole.java#L173. It appears that there's a rounding error in the text size calculation (inside Swing) but it only happens for certain gutter sizes. Using the default gutter size or switching Editor.LEFT_GUTTER to basically anything o

[2019-11-07 19:19] sampottinger commented on #19
@clankill3r - This will be resolved with #20. Thank you for your help!

[2019-11-11 16:01] sampottinger commented on #19
Hey @clankill3r - this is previewed in a new build available at https://www.datadrivenempathy.com/processing.

[2019-11-11 16:02] sampottinger commented on #16
Hey @clankill3r - this is previewed in a new build available at https://www.datadrivenempathy.com/processing.

[2019-11-12 01:48] sampottinger opened #21 "Windows cursor deletion off"
Filing for [kll](https://discourse.processing.org/u/kll) from a [processing forums discussion](https://discourse.processing.org/t/processing-in-style-with-java-11/13776/24). There is a report that deletion happens at the wrong position on Windows with no zoom, Monospaced, 10pt. Possibly related to #19.

[2019-11-12 01:55] sampottinger opened #22 "“Illegal reflective access by com.jogamp.common.os.NativeLibrary” when using P3D (caused by JOGL)"
Filing for [kll](https://discourse.processing.org/u/kll) from a [processing forums discussion](https://discourse.processing.org/t/processing-in-style-with-java-11/13776/24). The following happens when using P3D:

[code]

[2019-11-12 01:57] sampottinger commented on #22
This comes from JOGL itself and is related to [JEP 261](https://openjdk.java.net/jeps/261) as tracked at https://jogamp.org/bugzilla//show_bug.cgi?id=1363. There is no resolution on the Processing side except for moving to LWJGL or waiting for an update from JOGL. I believe @codeanticode is looking into LWJGL.

[2019-11-12 02:03] sampottinger commented on #21
I was not able to reproduce this on Windows 10 but I have requested further information from kll.

[2019-11-12 02:16] kllsamui commented on #21
sorry,
[code]
not understand but talking here is ok.

but need you to tell me what i have to do exactly.
* what windows info you need?
* you want me to test again after delete processing systems dir ( preferences )
( like at a first install )?

but if it runs on your win10, i take it as my local problem.

( i do need to tell you that my virus program AVG
2 times delayed the start of your program f

[2019-11-12 03:04] sampottinger commented on #21
Hey @kllsamui! Thanks so much for writing back.

I am curious what your display settings are under Start > Settings > System > Display as shown below.

<img width="968" alt="Screen Shot 2019-11-11 at 7 00 36 PM" src="https://user-images.githubusercontent.com/110391/68638312-f8eb8e00-04b5-11ea-84d7-caa8c841a7f8.png">

Yeah my guess is because this was not a signed executable (I need to open a separ

[2019-11-12 03:41] kllsamui commented on #21
-1- my windows info:
![win10_displaysettings](https://user-images.githubusercontent.com/19226581/68639635-c6827500-0537-11ea-8b79-7bca8a232bbe.png)

![win10_displaysettings2](https://user-images.githubusercontent.com/19226581/68639647-cf734680-0537-11ea-9840-fab41acc9c66.png)

____
-2- deleting processing systems dir
restart processing 40c

![processing_40c_install](https://user-images.githubuserc

[2019-11-12 03:49] sampottinger commented on #21
Hey @kllsamui! Thank you for this information.

Thank you for these details.

That's a bummer. I am seeing some visual artifacts in your screenshot that make me wonder if there's some sort of system zoom thing going on. I'll investigate that further.

It is very interesting that windows 7 seems to be fine for you but not windows 10. Thank you for those details.

Thank you for trying this though I

[2019-11-12 04:46] kllsamui commented on #21
you do see issues with AVG and / or a confirmation to run the program on Windows 10 but
    you do not see issues with AVG and / or a confirmation to run on Windows 7?

i run your 2 first builds and they behave same like processing 3.5.3 does ( did ):
-1- after unzip at very first start get the question to allow JAVA to run
( i not get that question with your latest build )
-2- that AVG check new

[2019-11-12 09:26] #19 closed

[2019-11-12 09:28] clankill3r commented on #16
![Screen Shot 2019-11-12 at 10 25 24](https://user-images.githubusercontent.com/738650/68659155-0ac14580-0537-11ea-93e1-1573390d265b.png)

Look at the ugly yet beautifully working button :)

[2019-11-12 09:28] #16 closed

[2019-11-12 09:55] clankill3r opened #23 "Sketch does not close on escape key"
When you press escape the sketch does not close.
This works in 3.5.3.
OSX 10.12.6

[2019-11-12 16:05] sampottinger commented on #23
Thanks @clankill3r!

[2019-11-12 16:09] sampottinger opened #24 "Make macOS notarization part of the build process"
Currently there is a mechanism for signing the Processing app for Mac but we don't currently notarize which will be required in January. See https://developer.apple.com/news/?id=09032019a and https://developer.apple.com/documentation/xcode/notarizing_your_app_before_distribution/customizing_the_notarization_workflow.

[2019-11-12 16:22] sampottinger opened #25 "SmartScreen triggers on new builds"
It looks like new builds do not have sufficient reputation and are triggering warnings on Windows 10's SmartScreen. [This may require a more expensive EV cert](https://blogs.msdn.microsoft.com/ie/2012/08/14/microsoft-smartscreen-extended-validation-ev-code-signing-certificates/). It also appears that Processing 3 may not be signed for windows but likely has enough reputation to get through the scr

[2019-11-12 16:26] sampottinger commented on #21
Thank you very much @kllsamui. I'm not sure about AVG and my guess is that the other behavior is related to [SmartScreen](https://en.wikipedia.org/wiki/Microsoft_SmartScreen#Windows). I've opened a separate issue for SmartScreen: https://github.com/processing/processing4/issues/25. I was able to reproduce this on my machine by building on a different computer and copying the executable over. :-/

[2019-11-12 16:28] codeanticode commented on #22
@sampottinger indeed, I have a fork from your earlier processing-openjdk repo that uses LWJGL for the core OpenGL renderer:

https://github.com/codeanticode/processing-openjdk/tree/lwjgl-renderer

It still needs some work to encapsulate all AWT dependencies so they are not used when launching a sketch with the P2D or P3D renderers.

[2019-11-12 16:40] sampottinger commented on #21
With that said @kllsamui, it looks like system zooming seems to work on Mac and Linux but, as best I can tell, something about Windows zooming is causing the rendering of `JEditTextArea` to be incorrect in some settings and likely has to do with [JEP 263](https://openjdk.java.net/jeps/263). The other components likely render correctly because Swing has internally added support for this scaling but

[2019-11-14 12:35] clankill3r opened #26 "There are no build instructions"
I wanted to gave it another attempt at building cause I need to set some JVM options.
However, the build instructions are gone.
After some effort I did found them here:

https://gist.github.com/sampottinger/939441d7277d318189ec81844e3ca516

But It's a bit hidden.

[2019-11-15 17:29] benfry commented on #24
Hooray.

[2019-11-15 17:31] benfry commented on #7
Thanks!

[2019-11-15 17:31] #7 closed

[2019-11-15 17:34] benfry commented on #6
All set; thanks.

[2019-11-15 17:34] #6 closed

[2019-11-16 18:53] sampottinger commented on #23
Hey there @clankill3r! Sorry I wasn't able to reproduce this (10.14.6). :( Just to make sure there isn't anything funky happening... can you escape to close on:

[code]

Thanks!

[2019-11-16 18:55] sampottinger commented on #26
@benfry where would you like these to live?

[2019-11-17 11:38] clankill3r commented on #23
Yeah I can close that one.
I also can't reproduce, I will keep an eye on this.
I just close it for now.

[2019-11-17 11:38] #23 closed

[2019-11-18 17:27] sampottinger commented on #21
Hey there! The update on this... It looks like this is, in fact, related to https://openjdk.java.net/jeps/263. Specifically, the size of the text seems to be incorrectly calculated by `getPartialPixelWidth` inside `JEditTextArea` when windows display scaling is set higher than 100% such that the cursor's x position is inflated. Interestingly, this only seems to impact font size calculation but the

[2019-11-21 21:12] benfry commented on #26
For the short term, let's save your file as `README.md` at processing/build. That'll at least give us a place to work on it a bit.

(Eventually all or part or a link to it should live in a spot that doesn't require pulling the repo, since that's part of the point of build instructions… but we can figure that out later.)

[2019-11-22 17:27] StanLepunK opened #27 "Stroke overlap image() in P3D"
When the render is P3D, the stroke() overlap the image, that's not happen in classic renderer and in P2D. that's happen too in P 3.5.3.

<img width="323" alt="Capture d’écran 2019-11-22 à 18 19 43" src="https://user-images.githubusercontent.com/3332269/69446818-869c6880-0d55-11ea-9710-261f0cb11341.png">

[code]

[2019-11-22 17:34] StanLepunK opened #28 "Cannot use rotateZ() in P3D"
These bug is still alive
https://github.com/processing/processing/issues/5770
maybe this pull can be used, say yesss it's my first pull :)
https://github.com/processing/processing/pull/5821

[2019-11-22 22:17] sampottinger commented on #21
Hey there! I disabled the partial pixel calculations and it didn't resolve the issue. So, I may not have been correct in my last message. Also interesting is that the issue only happens if the display scaling was active at the time that processing starts. If the OS display scaling is enabled after processing starts, the issue is not present. Also, this happens regardless of the zoom settings insid

[2019-11-24 22:32] sampottinger opened #31 "Improved zoom on windows"
Right now display scaling on Windows 10 causes poor automatic zooming through Swing. This makes the interface appear pixelated and the custom swing elements (primarily JEditTextArea) do not calculate x positions for the caret correctly. After https://github.com/processing/processing4/pull/30, automatic swing zooming will be disabled. While this improves the experience for windows users that have d

[2019-11-24 22:36] sampottinger commented on #27
Thank you for your help here and elsewhere @StanLepunK! I did some testing with this and want to check... are you seeing the same behavior in Processing 4 and 3 for this sketch?

[2019-11-24 22:42] sampottinger commented on #28
Thanks @StanLepunK! Thank you for your PR and I think it looks good. Would you like to open a PR against this repo or would you like me to open a PR for you? I can't do PR reviews on the mainline processing repo but I can do PR reviews here.

[2019-11-24 22:50] sampottinger commented on #27
I can let Ben weigh in on this but I'm not sure if the correct behavior is defined in this case (the painter's algorithm may not have a guaranteed behavior for 2D operations at the same z coordinate when using P3D). So, I'm not sure if there is a correct answer for if the stroke should be drawn above or below your PGraphics in your sketch. That said, Processing does follow defined behavior if you

[2019-11-25 05:36] StanLepunK commented on #28
Nice, I try do that this week, because at this time i'm like Ben... no time for me :(

[2019-11-25 05:43] StanLepunK commented on #27
With the translate solution the stroke is totaly remove on my machine: MacBoook / OS Mojave

[2019-11-25 17:21] sampottinger commented on #27
Oh funky. Dang :( thank you for pointing that out @StanLepunK. The stroke appears if the circle is on top but not on bottom of the PGraphics. Hummm... I can take a look but, if this is JOGL related, @codeanticode, do you think it is worth fixing this or just waiting for the LWJGL-based renderer? It appears this bug impacts both Processing 3 and 4 (the behavior is consistent in this branch and main

[2019-11-25 17:25] codeanticode commented on #27
@sampottinger thanks for the heads up. I will look into it.

[2019-11-25 21:29] sampottinger opened #32 "Illegal reflective access by app.ui.Toolkit to field sun.awt.CGraphicsDevice.scale"
On processing start, this warning is visible if run from the command line:

[2019-11-25 23:38] sampottinger commented on #27
Thanks @codeanticode!

[2019-11-25 23:38] sampottinger commented on #28
Thanks @StanLepunK!

[2019-11-26 01:05] sampottinger opened #35 "displayDensity returning 1 on mac retina"
## Description
println(displayDensity()) returns 1 on a mac with retina

## Expected Behavior
Exepcted 2

## Current Behavior
Currently 1

## Steps to Reproduce
See above

## Your Environment
Mac 10.14 13 inch retina

[2019-11-26 01:14] sampottinger opened #36 "Illegal reflective access by Editor to method setWindowCanFullScreen"
Looks like there's one more illegal reflexive access hanging out...

[code]

[2019-11-26 10:33] #21 closed

[2019-11-26 10:35] #32 closed

[2019-11-26 10:35] #35 closed

[2019-11-26 10:39] benfry commented on #27
This is one of the reasons that P2D exists, because we can set internal variables properly so that strokes appear coincident with their shapes. We can't do this by default in P3D, because of the behavior you see here—that the stroke will hover above other shapes.

Bottom line, if you want real 2D drawing with OpenGL, use P2D or the default renderer, and this example is the reason why.

[2019-11-26 10:39] #27 closed

[2019-11-26 10:40] #36 closed

[2019-11-26 10:42] #3 closed

[2019-11-26 10:43] #8 closed

[2019-11-26 16:36] sampottinger commented on #31
Hey @benfry, I saw your comment on #30:

Here's is where things are at:

|                   | Prior to #30 without display scaling | Prior to #30 with display scaling | After #30 without scaling | After #30 with scaling                                                          |
|-------------------|--------------------------------------|-----------------------------------|------------------------

[2019-11-26 16:38] sampottinger commented on #31
This is effectively a continuation of #21 but, now that #30 has merged, Processing is _usable_ on Windows with display scaling enabled.

[2019-11-27 18:41] sampottinger opened #39 "Update to the LTS Java 11 version"
It looks like the LTS train has targeting 11.0.5 (with Java 13 as the latest). Let's move to 11.0.5 from 11.0.2.

[2019-11-29 21:16] #39 closed

[2019-11-30 22:21] sampottinger commented on #31
An update on this... It looks like one cannot get to the display scaling via GraphicsConfiguration or the sun.java2d system properties. We might have to use JNA.

[2019-12-01 16:59] neilcsmith-net commented on #22
@codeanticode that's not quite correct. There is only a requirement to encapsulate aspects of AWT that can't work headless, is much less.  I have a fork of 3.5.3 with minimal changes to work headless with LWJGL already.  If there's desire to switch upstream I can open an issue and work on a PR for here or your branch.  Mainly a need to push things down into the Surface implementations.  And find a

[2019-12-03 17:03] benfry commented on #31
Bummer; hoped this stuff was gonna get easier with 11+.

[2019-12-03 17:05] benfry commented on #28
Fix has been merged.

[2019-12-03 17:05] #28 closed

[2019-12-04 18:15] sampottinger commented on #31
@benfry - same :(

Alright, I might have a solution at https://github.com/processing/processing4/tree/jna_windows_scaling. Hoping to do just a little more testing though...

[2019-12-04 18:20] sampottinger commented on #31
I actually could use a little help in testing this. @kllsamui (or other Windows members of the community) - would you be willing to give https://github.com/processing/processing4/tree/jna_windows_scaling a shot? If needed, I can make a build available for you.

[2019-12-05 02:02] kllsamui commented on #31
yes, please link to build and detail test procedure ( ? change windows settings ? processing settings ?)

[2019-12-10 13:44] Volts-s commented on #31
Hi all, I would be happy to help out with testing this or anything else.  I have a Windows 10 desktop and a MacBook Pro with retina display.  I'm not set up to build Processing at the moment.

[2019-12-15 03:30] oshkop opened #44 "print(), println() not working"
The print and println statements do not show up in the console. Errors have no problem showing up. The sample code below works fine on other machines, but not on this one. I've compared preferences and the preference file with another computer and there is no difference. I've uninstalled and reinstalled. Other than getting another computer, I don't know where else to look.

Linux Mint 19.1
Cinnamo

[2019-12-15 03:35] lmccart commented on #44
sorry for the noise, I got confused I thought I was on the p5.js issues page! transferring it back where it belongs..

[2019-12-26 18:04] sampottinger commented on #31
Hey there! Very sorry for the delay. Please see https://github.com/sampottinger/processing4/releases/tag/v4.0-alpha-jna-scale. This is provided under the usual license: https://github.com/processing/processing4/blob/master/LICENSE.md. Please follow the following:

 - Start processing
 - Go to processing settings and ensure automatic scaling is on (File > Preferences)
 - Close processing
 - Enable

[2019-12-27 01:12] kllsamui commented on #31
-0- repeat ( old system i call here 4.0 c )

![p4_c_cursorproblem](https://user-images.githubusercontent.com/19226581/71495351-000d0680-2880-11ea-8f8c-d449944209d6.png)

_ download / test 4.0 d scale test
-1- got a problem about a 3rd party library i test / but not have that problem with p 3.5.3

![p4_scale_0](https://user-images.githubusercontent.com/19226581/71495391-1d41d500-2880-11ea-9c83-d8fa

[2019-12-27 16:12] Volts-s commented on #31
This looks good to my eyes.

Scaling 125 % --------------------
![jna_windows_scaling_125_percent](https://user-images.githubusercontent.com/28009043/71523918-7a9a4e00-28a1-11ea-95fe-0291b52fdda7.png)

Scaling 100 % ------------------
![jna_windows_scaling_100_percent](https://user-images.githubusercontent.com/28009043/71523935-9d2c6700-28a1-11ea-9563-af4e54351f0d.png)

Many thanks to you and Ben

[2019-12-27 17:29] sampottinger commented on #31
Fantastic thank you @Volts-s and @kllsamui! I'll update the PR and get this in.

[2019-12-29 16:26] benfry commented on #24
And this one gets more serious in a month… https://developer.apple.com/news/?id=12232019a

[2019-12-29 18:52] sampottinger commented on #24
Yeah I saw :(

I have a developer ID that I've been using for the existing builds I've been posting. I will give this a shot soon. It looks like it is possible (even if it is annoying) to notarize from the command line: https://blog.zeplin.io/dev-journal-automate-notarizing-macos-apps-94b0b144ba9d. Considering this in combination with #25, we should chat offline...

[2020-01-07 14:14] kllsamui commented on #31
i would love to compile and run it on/for the Raspberry Pi ( RPI 3B+ hardware for now )

++ and also do it for the several video libraries
like today buster update breaks my last GLVideo repair

and the newest RPI buster
works with the https://github.com/processing/processing-video/releases/tag/r6-v2.0-beta4 only
 ( works on RPI 3 and RPI4 different regarding USB video )
but not at all with contri

[2020-01-07 15:52] #26 closed

[2020-01-07 16:47] sampottinger opened #46 "JOGL 2.4"
It looks like [JOGL 2.4 is getting further along](http://forum.jogamp.org/JogAmp-Jbeil-RC-Build-2-4-0-rc-20200106-td4040244.html)! I know that there's some work to cut over to LWJGL but we should decide if we want to adopt JOGL 2.4 / if there will be available modes in both?

[2020-01-07 18:44] #31 closed

[2020-01-07 18:46] benfry commented on #46
That would be positive… It'd be nice to break fewer things in 4.x and introduce LWJGL as an option.

[2020-01-17 17:07] benfry commented on #24
Ok, managed to get this working by hand… We'll see if it actually works. 🤢

[2020-01-17 19:32] benfry opened #47 "Streamlining the JDK downloader"
Did some work in https://github.com/processing/processing4/commit/1ff826b843fa8df1b7c9d561d4614484f232b8b3 to clear out parts of the Downloader that won't be used… I'm not interested in supporting JDK 8 downloads or Oracle downloads, so that removes some complexity.

Wanted to go a little further but wanted confirmation from @sampottinger before doing so:

* I think we can get rid of cookie suppor

[2020-01-18 16:32] sampottinger commented on #47
Hey! Thanks for cleaning up in there. As you can tell, I didn't revisit it after we decided to cut JDK 8.

I believe so.

I would still hold on to train. If you want to fix to a version of java, you'll need the train.major.minor+build (the latest JDK is `jdk-11.0.6+10`).

Sounds good. To be fair, we can "[make our own JRE](https://openjdk.java.net/jeps/282)" to reduce the build size but [there is

[2020-01-18 18:24] benfry commented on #47
Yeah, not interested in maintaining a custom JRE to save a few (or many MB)… Too many vectors of badness to be opened up with that. I'll give it another whack.

[2020-01-18 20:08] benfry commented on #47
Things now cleared out to reflect our current simpler constraints.

[2020-01-18 20:08] #47 closed

[2020-01-18 22:27] benfry opened #48 "Update graphics and visual design elements for 4.x"
Things may still say Processing 3, and use its color scheme. We'll be updating that before the release.

[2020-01-19 00:47] benfry commented on #46
Picking back up from our email discussion, I've opted to remove the JOGL binaries from the repo, and have them auto-download on build.

I've added `clean-jogl` as an `ant` target so that `ant clean` doesn't wipe out the files, and force you to reconnect to the internet in order to build. (Times that I can do Processing development often coincide with not having limited internet access… flights, ot

[2020-01-19 01:03] benfry opened #50 "“WARNING: Illegal reflective access by processing.opengl.PSurfaceJOGL” on getContextCapabilities()"
This is not the same as https://github.com/processing/processing4/issues/22, which is another `WARNING: Illegal reflective access` message.

Due to the workaround for https://github.com/processing/processing/issues/4104, we've got a reflection hack that spews a big warning.

The hack involves getting the name of the hardware so that we can add a workaround for `Intel HD Graphics 3000` devices.

No

[2020-01-19 13:18] benfry opened #52 "ThinkDifferent is disabled with --disable-awt, needs workaround"
According to [this test](https://github.com/codeanticode/processing-openjdk/commit/ac9abc18655daaa538ef16945687177334f3596e), the ThinkDifferent glue seems to trip the AWT and cause problems. Need to find a way to handle Cmd-Q, setting the window icon, and other services provided by that code.

[2020-01-19 13:23] benfry commented on #24
3.5.4 was notarized, though I haven't tested much to see if/how it worked.

Didn't bother with notarizing 4.0a1 since we'll probably need an alpha 2 before the deadline arrives.

The magic incantation was:

[code]

Where `APPLE_EMAIL` was the email address for my Apple (Developer) ID account.

This prompts for password, but the password can be provided on the command line with `--password` as well

[2020-01-19 13:32] benfry opened #53 "`surface` methods get too much use, move into the API"
We've been surprised at how much `frame.setResizable()` and `frame.setTitle()` and others are being used, and we should make them into real API.

The switch from `frame` to `surface` between 2.x and 3.x was bumpier as a result.

Need to clean this up and get better behaviors for all of them:

* `setSize()` is erratic across renderers
* `setResizable()` can we make this a one-time operation in `set

[2020-01-19 13:33] benfry opened #54 "Remove `frame` from `PApplet`"
Using `frame.xxx()` has been deprecated since 3.x, and it's time to remove it so that we're not dealing with AWT collisions.

Before we can remove it completely, however, we need to add a message to the PDE that catches use of `frame.setTitle()` and others in code, and tells users to replace it with `surface.setTitle()`. Better yet, offer to replace it in the code by clicking a button.

Further, t

[2020-01-19 13:38] benfry opened #55 "Remove all usage of AWT from `PApplet`"
There's some useful information here about all the necessary work: https://github.com/codeanticode/processing-lwjgl/wiki#making-awt-optional-in-papplet

Mostly it involves moving a few things into `Surface`, so that only AWT surfaces will invoke AWT methods.

[2020-01-19 13:48] benfry opened #56 "Move `loadImage()` into `Surface`, and AWT out of `PImage`"
Several changes necessary to move image handling into `Surface` so that we're not invoking AWT.

However, if that's done, we need to replace the image loading for JOGL and JavaFX as well, or have those subclass a LameKindaSurfaceAWT which has the AWT code.

There's a constructor, resizer, and some IO options in `PImage` that all make use of AWT code. These will all be moved to `PImageJava2D` insid

[2020-01-20 12:51] #4 closed

[2020-01-20 12:53] benfry commented on #4
Passing all modifiers to the `KeyEvent` and `MouseEvent` constructors, though they aren't even being stored or used at the moment, so may not be a big deal.

Had trouble with this change in the past and rolled it back because it was optional at the time. This time around, just need to iron out any issues that come up:

* http://code.google.com/p/processing/issues/detail?id=1294
* http://code.googl

[2020-01-20 13:27] benfry opened #57 "Need non-AWT ways to get display count, width, height, pixel density"
We need either 1) an alternative/native method to make these work, or 2) a per-Surface version of them.

The second option is still problematic since we don't know what `PSurface` will be used when `settings()` is called. So either we need to start passing that to the command line, or do something more clever, i.e. once `size()` or `fullScreen()` is called, use the `renderer` to create an object t

[2020-01-20 13:40] benfry opened #58 "“pixelDensity() cannot be used here” in static mode sketches (regression from 3.x)"
A sketch with nothing but this code worked in 3.x:

[code]

But now throws an error saying `pixelDensity() cannot be used here`, presumably because the preprocessor isn't correctly pulling the method out to place it inside `settings()` behind the scenes.

[2020-01-20 13:45] #55 closed

[2020-01-20 13:45] benfry commented on #55
Now complete for 4.0a2, but still work to be done: https://github.com/processing/processing4/issues/57

[2020-01-20 13:48] benfry opened #59 "Warn users or provide auto-fix when `frame` is used in a sketch"
In 4.0a2, removed the `frame` field in `PApplet`. It's been showing warnings to use `surface` since 2015, but we should provide a warning or even a way to auto-fix code that still uses it.

[2020-01-20 13:48] benfry commented on #54
For 4.0a2, removing `frame` entirely. Gonna see if this means all hell breaks loose.

Need to help users with the change: https://github.com/processing/processing4/issues/59

[2020-01-20 13:48] #54 closed

[2020-01-20 13:50] benfry commented on #22
Should be fixed with the JOGL 2.4 RC that's included with 4.0a1.

[2020-01-20 13:50] #22 closed

[2020-01-20 15:32] sampottinger commented on #58
I can take this @benfry

[2020-01-20 17:32] sampottinger opened #61 "PApplet.selectFolder not found"
Travis noticed that we broke the build on `PreferencesFrame`: https://travis-ci.org/sampottinger/processing4/builds/639584837?utm_medium=notification&utm_source=github_status.

[2020-01-20 17:34] sampottinger commented on #58
@benfry, sorry I missed that. I have a resolution for this at #60.

[2020-01-20 17:36] sampottinger commented on #61
@benfry, I can take this but should chat about getting Travis here since it's still running on my fork.

[2020-01-20 17:37] neilcsmith-net commented on #46
@sampottinger is there more work ongoing with LWJGL? Was in touch with Andres on the Gitter chat on this but gone quiet.  Relevance here?  It would be useful to abstract OpenGL so that the JOGL implementations are in a separate package / JAR too?

[2020-01-20 17:42] neilcsmith-net commented on #56
Are you trying to remove all AWT usage or just allow headless (for eg. LWJGL use)?  Because large portion of Processing AWT code, such as in PImage, PFont, etc. works fine headless.

[2020-01-20 17:50] sampottinger opened #62 "PGraphicsPDF build broken"
Looks like PGraphicsPDF is failing:

[code]

[2020-01-20 17:50] sampottinger commented on #62
Found via Travis on sampottinger fork

[2020-01-20 17:56] sampottinger commented on #62
Looks like https://github.com/processing/processing4/blob/master/java/libraries/pdf/src/processing/pdf/PGraphicsPDF.java#L431 is referring to now deprecated getImage.

[2020-01-20 18:04] neilcsmith-net commented on #50
If all you want to do is nix the warning, then passing some `--add-opens` should do it.

[2020-01-20 18:11] neilcsmith-net opened #63 "Modularity of core? #JPMS"
I'm currently working on a fork (for PraxisLIVE / Codelerity use) splitting up Processing Core, modularizing and pushing to Maven Central for our and other use.  Has any thought been given to splitting up Processing Core and using JPMS - eg. core (with abstract GL), AWT, JavaFX, JOGL(?), LWJGL, etc.?  Given increasing dependencies, modularity and possibly JLink might be good for handling sketch ex

[2020-01-20 18:22] neilcsmith-net opened #65 "Main thread task context"
If Processing is ever to fully support an LWJGL renderer, there needs to be a way to run certain tasks on the main (first) thread.  What would be thoughts on an API something similar to this in PApplet? -

[code]

Code at the end of `main()` would have to loop over a task queue.  Setting context option is in there for any other language / tooling support, and multiple windows, that need to start s

[2020-01-20 18:32] sampottinger opened #66 "size call with PDF fails"
Whoops! Looks like there was a regression on:

[code]

The transfer over of the 4th parameter was lost.

[2020-01-20 19:32] benfry commented on #65
The work is started but we'll sort it out once LWJGL is ready.

[2020-01-20 19:32] #65 closed

[2020-01-20 19:42] neilcsmith-net commented on #65
@benfry by whom?  I was discussing with @codeanticode and have been working on fixing bugs in that renderer.  Just opening an issue for the sort of thing that would be required in core to support it properly.  What / where is the correct place to discuss?  Or is help on it not welcome?

[2020-01-20 19:56] benfry commented on #63
The forum is a better place for coding discussions. This is too open-ended to be resolved as an "issue".

[2020-01-20 19:56] #63 closed

[2020-01-20 19:57] benfry commented on #46
Closing this since it was resolved in alpha 1: we've integrated the 2.4 RC in alpha 1 and have a means to update to the final once it's available.

[2020-01-20 19:57] #46 closed

[2020-01-20 19:59] #58 closed

[2020-01-20 19:59] benfry commented on #58
Thanks for the quick fix.

[2020-01-20 20:00] benfry commented on #61
I think I've caught the ones I missed due to the bad linking.

Might need to rethink how they're handled though—I'd prefer the methods live in Toolkit() for the `processing.app` side of things, but it seems silly to just copy & paste the code in two places.

[2020-01-20 20:01] benfry commented on #61
@sampottinger If you don't find any others, you can go ahead and close this.

[2020-01-20 20:07] neilcsmith-net commented on #63
If that was actually useful I'd try it!  It's also not open-ended - it's quite specific.  Will discuss elsewhere.

[2020-01-20 22:12] benfry commented on #62
I think this one is set now; but it looks like you had some other testing bits on that branch so I'll leave it open until you give the thumbs up.

[2020-01-20 22:19] benfry opened #67 "Switch to getModifiersEx() in `processing.app`"
This is really just for `DefaultInputHandler` and `EditorButton`, now that things have been switched over for core.

[2020-01-20 22:32] benfry commented on #25
Sounds like it… and anything that helps us deal with false Windows Defender flags would also help. Obviously they're totally different systems, but we should keep an eye out for anything we can do here.

For the last two years or so, each release gets flagged as being afflicted by a different Windows virus (I'd be more concerned if it weren't a different one each time) and there's not much we can

[2020-01-21 07:01] StanLepunK commented on #53
Hi, @benfry what you mean by move `surface.setSize()` in API. If this option is choice. There will be no more possibility to use it in code ? or you mean create a specific Processing methode to call it ? like `surface.setSize()` became simply `setSize()` I hope you think about this lastoption, because like you have wrote I use a lot `surface.setSize()` and `surface.setTitle()` in my code.   By the

[2020-01-21 19:27] benfry commented on #53
@StanLepunK No, the opposite of that. They were left in the `surface` class because they weren't expected to be used much. Because they get used a lot, we should make them more official than having to introduce this weird `surface` thing to everyday users, i.e just `resize()` instead of `surface.setSize()` or something like that.

[2020-01-22 00:48] sampottinger commented on #25
Cool cool! Let me follow up on email re the EV cert.

[2020-01-22 01:21] sampottinger commented on #62
Hey @benfry! Looks like this is resolved with https://github.com/processing/processing4/commit/624e9074aeb1d9e2e6b2943e35ffd97a90b8b737. I'll close this out.

[2020-01-22 01:21] #62 closed

[2020-01-22 01:21] sampottinger commented on #61
Hey @benfry looks like you got everything (https://github.com/processing/processing4/commit/6979ece6f3c7c9ef9c045bd479e3b00130061d47). I'll close this out!

[2020-01-22 01:21] #61 closed

[2020-01-22 07:23] StanLepunK commented on #53
@benfry "ouf", like will said french guy like me.

[2020-01-22 12:22] #66 closed

[2020-01-23 19:16] neilcsmith-net commented on #65
@benfry incidentally, this is the proposed API - https://github.com/praxis-live/processing-core/blob/master/src/main/java/processing/core/PApplet.java#L15986 along with change to `main()`

And this is a revised version of the LWJGL PSurface using it - https://github.com/praxis-live/processing-lwjgl/blob/master/src/main/java/processing/lwjgl/PSurfaceLWJGL.java

Couple of hours proof of concept so f

[2020-01-25 01:07] Minimaximize opened #69 "[Enhancement] Extract class for perlin noise from PApplet"
## Description
Extract logic behind perlin noise generation from PApplet to separate class and delegate `noise(...)` methods to new class/interface.

### Benefits
- Reduce the amount of non-sketch related code from PApplet
- Facilitate the use of other noise functions in sketches, (eg, Simplex noise, Fractal noise, Custom implementations)
- Allow previously generated noise to be cached/saved in se

[2020-01-25 19:43] sampottinger commented on #50
Hey! Started poking around to see what we can do without ‘sun.java2d’. It [looks hard generally speaking](https://github.com/oshi/oshi/issues/400) without JNA to migrate out. However, the [JavaCL folks might have it sorted](http://nativelibs4java.sourceforge.net/javacl/api/stable/com/nativelibs4java/opencl/CLPlatform.html). Seems a bit excessive to include JavaCL for that but maybe could help poin

[2020-01-26 23:41] benfry commented on #69
This would be better handled by a library. This isn’t a compelling enough reason to break a lot of old code that relies on the noise() function as it currently exists.

You get a little code clarity but the real point is that there are better noise methods and lots of additional features to do noise properly, which belong in their own library. And that amount of flexibility isn’t what’s needed by

[2020-01-26 23:41] #69 closed

[2020-01-26 23:46] benfry commented on #50
Yeah, this is a messy one because it’s old hardware but it was used on a lot of apple machines, so there’s a large (or at least very vocal) installed base.

Is there a JNA approach? I’d be more inclined to move that into core than OpenCL, since it’d be useful elsewhere (hidpi detection, display resolutions, menubar hacks, etc...)

[2020-01-27 00:33] sampottinger commented on #50
Yeah it looks possible with JNA. I’ll look into it:

 - https://github.com/java-native-access/jna/blob/master/contrib/platform/src/com/sun/jna/platform/mac/IOKit.java
 - http://sharmar0hit.blogspot.com/2013/08/detecting-graphics-hardware-using.html?m=1

[2020-01-27 10:28] neilcsmith-net commented on #50
@sampottinger doesn't JOGL already have an API that gives you this information?! As does LWJGL.

Still think you'll have fun trying to remove all warnings right now - and most of those are probably as safe to use for now as they ever were - ie. not! :smile:

[2020-01-29 17:40] benfry commented on #10
With https://github.com/processing/processing4/pull/70 I've started to move things around a bit inside Java Mode. So far:

* I've gotten rid of the pdex package, since it wasn't actually a useful distinction, because it was entangled with everything else.
* I've moved more of debugging into the .debug package
* I've merged and broken out a few classes where possible.

The main package is now enorm

[2020-01-29 17:42] benfry commented on #10
The reason for this shift was also based on an experiment with switching to `RSyntaxArea` instead of `JEditTextArea`, which revealed a lot of the difficulties in how `JavaEditor` and others are tangled up with one another.

[2020-02-01 01:36] retiutut opened #71 "Accessing Serial Port on Windows Causes JRE Crash"
## Description

https://github.com/OpenBCI/OpenBCI_GUI/issues/674

## Expected Behavior

Access Serial ports directly on Windows without the JRE crashing.

## Current Behavior

Crashes and produces a log in the application directory. Happens on Standalone app and processing-java.

## Steps to Reproduce

1. Download OpenBCI GUI v4.2.0 pre-release.
2. Open GUI, and hopefully you have some serial por

[2020-02-02 22:22] retiutut commented on #71
Happens using the Processing-IDE and the example from the Processing docs also:

https://processing.org/reference/libraries/serial/Serial.html

[2020-02-03 17:39] sampottinger commented on #71
Hey @retiutut thanks for posting this! I'll take a look. For folks following along at home, not reproducing on Mac but I'll give it a go on Windows in a minute.

[2020-02-03 17:39] retiutut commented on #71
That's correct. Seem's to work just fine on Ubuntu Linux and OS X Catalina.

[2020-02-03 17:40] sampottinger commented on #50
Thanks @neilcsmith-net! I looked into JOGL (`GLProfile`) and it wasn't clear to me that this information was accessible. Do you have the API reference for JOGL or LWJGL that you had in mind? Thanks!

[2020-02-03 17:54] sampottinger commented on #71
Was able to reproduce on Windows 10 (non JVM access violation!). We will dig in.

[2020-02-03 23:58] sampottinger commented on #71
Looks like we need to update! https://github.com/java-native/jssc/releases/tag/v2.9.0 or https://github.com/akuhtz/spsw. I'll give it a shot. Just FYI... this fork seems like the active continuation of the now dead original.

[2020-02-05 17:29] neilcsmith-net commented on #50
@sampottinger well, isn't the same information available in PGraphicsOpenGL at https://github.com/processing/processing4/blob/master/core/src/processing/opengl/PGraphicsOpenGL.java#L6884  This is set using the OpenGL API (JOGL or LWJGL).  It's a little later checking, but early enough I think?  It's where the Pi workarounds are.

[2020-02-19 22:42] Minimaximize opened #72 "Backlogs or Roadmap"
Is there Backlog or Roadmap for planned features/changes in Processing 4?

[2020-02-21 11:59] micycle1 commented on #72
See https://github.com/processing/processing/wiki/Processing-4

[2020-02-25 19:19] #72 closed

[2020-03-03 01:00] sampottinger commented on #71
See ... https://github.com/sampottinger/jssc. Looks like there's still some work to do here.

[2020-03-07 22:04] benfry commented on #71
Thanks for looking into it, @sampottinger

[2020-03-08 00:00] sampottinger commented on #71
Of course! A quick update... I think I sorted it on windows but have mac build issues. Hoping to have more soon.

[2020-03-08 01:12] sampottinger opened #73 "Fail to start due to debugger"
I'm trying to see what's up but it looks like `master` is broken (tested on Mac OS X). NullPointerException at `JavaEditor.java:1389`.

[2020-03-08 01:30] sampottinger commented on #73
Looks like constructor in `Editor` called from from `JavaEditor` is calling an overloaded method back in `JavaEditor` that expects `debugger` to have been initialized which is not possible since the parent constructor has not returned.

[2020-03-08 01:38] sampottinger commented on #71
Blocked on #73

[2020-03-08 17:14] sampottinger commented on #73
<img width="593" alt="Screen Shot 2020-03-08 at 10 14 32 AM" src="https://user-images.githubusercontent.com/110391/76167670-a64d7600-6125-11ea-8af9-47c9345e917d.png">

[2020-03-08 19:00] sampottinger commented on #71
Yay! See the [JSSC migration branch](https://github.com/processing/processing4/tree/jssc_migrate_sampottinger_dep_on_demand). I've tested for Linux 64 bit, Windows 64 bit, and Mac.

<img width="682" alt="Screen Shot 2020-03-08 at 11 59 17 AM" src="https://user-images.githubusercontent.com/110391/76169328-48745a80-6134-11ea-8a86-541dd1a643f5.png">

[2020-03-14 19:43] sampottinger commented on #50
Sorry I dropped the thread on this one... Anyway, thank you @neilcsmith-net!

Yeah I can find what I'm looking for pretty easily if I have the GL context already active. For the folks following along at home, consider this sketch:

[code]

That said, inside Processing, this is happening up at `initDisplay` inside `PSurfaceJOGL` which I think was intended to happen _before_ `initGL`. Now that I am

[2020-03-14 19:44] sampottinger commented on #50
Blocked on #73.

[2020-03-14 20:49] sampottinger commented on #50
Posted possible solution at #76! :D

[2020-03-23 09:02] clankill3r opened #77 "cut/copy/paste while saving a sketch on OS X goes to the editor, not the save dialog"
Not that important, but this old bug is back:

https://github.com/processing/processing/issues/1035

OSX 10.12.6
Processing 4.0a1

If you save a sketch, and paste during that proces for either the filename of the sketch or the filename of a new folder then it paste the content you copied before in the sketch itself.

[2020-03-28 16:31] sampottinger opened #78 "There is extraneous debugging output when clicking on recent project"
Though the functionality seems to work, I am seeing the following when opening a recent project:

[code]

[2020-03-28 16:41] sampottinger opened #80 "Saving to PNG broken in anything but the default renderer"
It looks like the `tiff` extension is always appended even if the requested filename ends in `.png` when using `JAVA2D`. Looks related to the recent refactor on AWT related code.

[2020-03-28 16:43] sampottinger commented on #80
`PImage:save` doesn't check for png. Can't use `ImageIO` b/c `PImage` is supposed to be implementation independent.

[2020-03-31 17:29] hellonearthis opened #82 "on windows the default editor font is not present"
## Description
I installed processing for the first time,  I had not previously installed it so had not settings file on my machine.  The default font was not on my windows system and the codes text looked like boxes.

## Expected Behavior
A readable text due to editor font being on my system

## Current Behavior
The default font was not on my windows system and the codes text looked like boxes.

[2020-04-03 12:03] clankill3r opened #83 "can't build on OSX anymore"
I was able to build, but now when I try again it fails. (I did not make any changes).
OSX 10.12.6

`java -version` gives me:

![Screen Shot 2020-04-03 at 13 49 42](https://user-images.githubusercontent.com/738650/78358453-82aa0e00-75b3-11ea-908a-ac66cc78b4a9.png)

[2020-04-09 08:41] sampottinger commented on #83
This is a duplicate of #73

[2020-04-09 08:42] sampottinger commented on #83
Will be resolved by #74 when accepted

[2020-04-12 17:50] sampottinger opened #84 "JOGL 2.4"
It looks like the 2.4 train has reached some viable release candidates. Might be time to make the jump! Just creating this issue to track some of the efforts :)

[2020-04-12 17:56] sampottinger commented on #84
Blocked on #73 .

[2020-04-12 17:59] sampottinger commented on #84
Blocked on #76

[2020-04-16 16:35] sampottinger commented on #82
Thank you @hellonearthis! Apologies for the delay. I will take a look into this on a fresh VM.

[2020-04-16 16:40] sampottinger commented on #77
Thanks @clankill3r! Apologies for the delay. Can confirm this... Will look into it.

[2020-04-16 16:53] sampottinger commented on #80
Cross-posting from #81: Just a quick update here... It looks like even in JavaFX and JOGL, BufferedImage is still the canonical solution. There might not be a way to avoid using it.

[2020-04-16 16:56] sampottinger commented on #56
Yeah I agree with @neilcsmith-net. There's some stuff like image saving where it's headless-OK but where AWT-dependent code has become standard. For example, it looks like even in [JavaFX](http://java-buddy.blogspot.com/2013/04/save-canvas-to-png-file.html) and [JOGL](https://stackoverflow.com/questions/22839899/how-to-save-am-image-of-a-screen-using-jogl), BufferedImage is still the canonical sol

[2020-04-17 01:37] jeremydouglass opened #86 "Update "no plans" on the P3 repo wiki"
Currently the Processing 3 repo wiki has a page entitled "Processing 4" that opens:

"There are currently no plans to create a Processing 4.x."

https://github.com/processing/processing/wiki/Processing-4

Should that statement be modified a bit -- and perhaps with a link to this repo and a call for help?

[2020-04-17 01:52] jeremydouglass opened #87 "Mode migration to Processing 4 -- tips/doc/wiki"
I'm trying to get a handle on what might be involved in migrating Processing.R (and Processing.py) to P4.

I've looked briefly at  #10  #11  #13 , but without diving deep I haven't gotten a sense of where on the scale from "a few new interfaces" to "total rewrite" we might expect mode migration to be.

**Feature request:**

It would be ideal if sometime early in the P4 process there could be a P4

[2020-04-17 06:21] PoolloverNathan commented on #59
Well, since Processing is already smart enough to know when I feel like there is an error somewhere and kindly turn off error detection, autofixing shouldn't be a problem.

[2020-04-18 22:38] sampottinger commented on #77
Ooph. It happens with `FileDialog` but not `JFileChooser`. :(

[2020-04-18 22:45] sampottinger commented on #77
Bad news... https://stackoverflow.com/questions/53309692/awt-filedialog-filename-copy-paste-keystrokes/56793268. I'm wondering if this cropped up with OpenJDK.

[2020-04-18 23:33] sampottinger commented on #77
Just confirmed that it doesn't have anything to do with our copy / paste actions within processing itself. Ugh...

[2020-04-18 23:50] sampottinger commented on #77
Personally, I'm not sure what the preferred action is here. Right click in the box works. However, the precedent of the previous decision made in https://github.com/processing/processing/issues/1035 suggests mac should use JFileChooser. :(

[2020-04-19 00:30] sampottinger commented on #82
Hello @hellonearthis! Thank you for submitting this bug report. Unfortunately, I was unable to reproduce this issue using a fresh Windows 10 VM and the `on_demand_debugger` branch. It correctly defaults to Source Code Pro which is present on the machine. This is consistent with the Processing 3 behavior.

Can you please confirm which version of Windows you are using, which font is being selected,

[2020-04-19 01:00] hellonearthis commented on #82
OH wow, since I have installed Processing it now finds the font when I try to install in again.

I don't think Source Code Pro is a default windows font.  Defaulting to Arial might be a safer option.
https://coderwall.com/p/57imrw/common-fonts-for-windows-mac

Microsoft Windows 10 Professional Build 18363,  It was processing 3 but I don't know what font it was trying to use.

I will try and reprod

[2020-04-19 02:23] sampottinger commented on #82
Thanks @hellonearthis! If it's processing 3, please file at https://github.com/processing/processing

[2020-04-19 02:23] #82 closed

[2020-04-20 05:59] sampottinger opened #89 "Mac Dark Mode"
If we have vaqua, might as well implement it.

[2020-04-20 15:41] sampottinger opened #90 "Rewrite size call for all renderers"
Found this in a loose comment on a commit... need to have the size call re-written for all renderers, not just internal ones.

[2020-04-20 15:48] sampottinger opened #92 "Tests are broken"
My CI side caught a bunch of broken tests. Need to resolve.

[2020-04-20 15:51] sampottinger commented on #92
Looks like this was caused by some of the Jan refactoring.

[2020-04-20 16:46] sampottinger commented on #83
Hey there! There's a few PRs outstanding (with inter-dependencies) and the build on master has been broken on Mac for some time. So, I have an integration branch over at https://github.com/sampottinger/processing4 master. That branch includes this bug's PR. This allows one to use Processing 4 again on a Mac along with all of the recent bug fixes. For your convenience, I have made builds available

[2020-04-20 16:46] sampottinger commented on #73
Hey there! There's a few PRs outstanding (with inter-dependencies) and the build on master has been broken on Mac for some time. So, I have an integration branch over at https://github.com/sampottinger/processing4 master. That branch includes this bug's PR. This allows one to use Processing 4 again on a Mac along with all of the recent bug fixes. For your convenience, I have made builds available

[2020-04-21 07:48] clankill3r commented on #83
Ah great, I will clone that then.

[2020-04-21 07:51] clankill3r commented on #77
JFileChooser is far worse then the paste bug.

I would either leave the bug, or else maybe if it's possible:

- if a paste is done but a save dialog is open, ignore the paste

Op zo 19 apr. 2020 om 01:51 schreef A Samuel Pottinger <
notifications@github.com>:

[2020-04-21 14:16] sampottinger commented on #77
Hey @clankill3r! I was able to reach a different solution in #88 through [vaqua](https://violetlib.org/vaqua/overview.html). It is in sampottinger/processing4 and https://www.datadrivenempathy.com/processing.

[2020-04-25 18:56] #78 closed

[2020-04-25 21:07] #73 closed

[2020-04-25 21:08] benfry commented on #73
Ok, just checked in a solution that delays the init of the menu and toolbar buttons. Still an issue with the toolbar button not highlighting that I need to sort out, but I think I saw that filed as a separate issue.

[2020-04-25 21:10] benfry commented on #83
Fixed in https://github.com/processing/processing4/commit/200afc4fd85ccfacd3a178174c4f3462095b8061

[2020-04-25 21:10] #83 closed

[2020-04-26 16:07] sampottinger opened #94 "Debug button broken on master"
For some reason debug button is broken on master but was working on #74 prior to re-merging master (@benfry - https://github.com/processing/processing4/commit/200afc4fd85ccfacd3a178174c4f3462095b8061). I remember fixing this when I first started #74. I'll see if I can find it again.

[2020-04-27 17:36] #92 closed

[2020-04-27 17:48] benfry commented on #87
Yup, definitely will do. Trying as hard as possible for there to be zero changes necessary, but that would also prevent us from some nicer things like swapping out `JEditSyntaxArea` for `RSyntaxArea`.

As for expectations, I see two most likely outcomes:

1. No changes necessary, or maybe just a recompile.
2. More changes necessary, but only for anything previously deprecated, or any code that rel

[2020-04-27 17:50] #94 closed

[2020-04-27 17:51] benfry commented on #86
Thanks; done over the weekend.

[2020-04-27 17:51] #86 closed

[2020-04-27 18:35] benfry commented on #50
Should be fixed in https://github.com/processing/processing4/commit/cc39c94d1dd9b7877207a5a0334620248b60371e

[2020-04-27 18:35] #50 closed

[2020-04-27 18:48] jeremydouglass commented on #86
...odd, it still says that page hasn't been updated since Sept 12 2019...?

"There are currently no plans to create a Processing 4.x."
https://github.com/processing/processing/wiki/Processing-4

I can't see any changes in readme's either, and the processing4 repo doesn't have a visible wiki, so it isn't there.

Let me know if I can help.

[2020-04-27 21:58] #71 closed

[2020-04-27 21:59] benfry commented on #71
Merged the fix from Sam for alpha 2.

[2020-04-27 22:04] benfry commented on #80
Ah, this is something we need to handle differently in the renderers themselves… i.e. if they're using AWT objects (i.e. `Image` or `BufferedImage`) they need to create `ImageAWT` objects. The refactor was about moving all that AWT cruft out of the main classes so that we have little or no AWT in the main `processing.core` package.

JOGL and JavaFX also have their own more efficient ways of handli

[2020-04-27 22:14] #90 closed

[2020-04-28 00:47] sampottinger commented on #80
Thanks @benfry. I'm sorry could you say more about how JavaFX / JOGL would handle this? Maybe just taking JavaFX first... looking around online, [it's not clear how to do this in JavaFX without using BufferedImage](http://java-buddy.blogspot.com/2013/04/save-canvas-to-png-file.html). I may be missing something obvious though.

[2020-04-28 01:07] sampottinger commented on #80
In the meantime, @benfry opened PR #97 for just AWT.

[2020-04-28 02:00] sampottinger commented on #80
Also, if you did want that for FX2D, see #98

[2020-04-29 04:39] retiutut commented on #71
Awesome! Thanks!

[2020-04-29 16:15] benfry commented on #80
Nope, not missing anything, sorry for the confusion… For now it's necessary to use `PImageAWT`. But the idea is that we get the AWT-specific code out of the main classes, and then the usage of AWT is determined independently by individual renderers… i.e. for now, JavaFX and JOGL just need to create `PImageAWT` objects instead of `PImage` if they want to do saving or have access to the AWT code.

H

[2020-04-29 17:19] jeremydouglass commented on #86
I went ahead and edited the page at:
https://github.com/processing/processing/wiki/Processing-4

as follows, with a link to the new repo, deprecation warning for those page contents, and a strikeout. Happy to update if that wasn't the right thing.

[2020-04-29 17:43] benfry commented on #84
@sampottinger is your plan to leave this open for the final 2.4, or was it just a note about updating the RC?

[2020-05-02 17:16] sampottinger commented on #84
I'll close this and open another for a future version.

[2020-05-02 17:16] #84 closed

[2020-05-02 17:18] sampottinger commented on #80
Great! Thanks this makes sense @benfry. Just checking, do PRs #97 and #98 go in the right direction for this?

[2020-05-02 17:45] retiutut commented on #71
When will alpha 2 release be published?

[2020-05-10 17:42] urbanskimichal commented on #59
Hello.
I created a [pull request](https://github.com/processing/processing4/pull/99) for this.
Is there a better option for me to link a pull request with an issue?

[2020-05-11 20:09] urbanskimichal commented on #48
Is it already designed and needs to be implemented or this task is about proposing a design? If the latter - what elements exactly?

[2020-05-18 10:04] nicolasbd opened #101 "Video loading triggers "Invalid memory access" error"
## Description

When loading some simple video examples from the Video or OpenCV library, Processing triggers an `Invalid memory access` error on line `video = new Movie(this, "transit.mov");`

[code]

## Expected Behavior
The video should be loaded and the sketch should display it

## Current Behavior
`Invalid memory access` error prevents the sketch to run

## Steps to Reproduce

1. Install the

[2020-05-23 12:07] ThexXTURBOXx opened #102 "Processing IDE interface too small on 4k screens"
## Description

The toolbar and general interfaces of Processing's IDE are too small on 4k screens. The editor is big enough (changable in the configs)

## Expected Behavior

Screenshot taken from Processing 3.5.4:
http://prntscr.com/smb7u1
http://prntscr.com/smb9gc

## Current Behavior

Screenshot taken from Processing 4.0-alpha1:
http://prntscr.com/smb7eo
http://prntscr.com/smb91d

## Steps to R

[2020-05-27 17:45] benfry commented on #48
This is just a note that they'll need to be swapped out before launch.

As for the design, it's the one thing that *does not* actually need additional volunteer help.

[2020-06-11 13:55] ThexXTURBOXx commented on #102
Hey, I am not at my home now. I will report back tomorrow or in 2 days.

[2020-06-12 15:00] ThexXTURBOXx commented on #102
![image](https://user-images.githubusercontent.com/12763829/84516447-198af900-acce-11ea-9059-c1c696f75bb5.png)
With "automatic" enabled, it just uses 100% and the interface is still too small

[2020-06-12 20:26] sampottinger commented on #102
Thanks for writing back and confirming. Unfortunately I don't have access to equipment to easily replicate this but I'll try to help out as soon as I can.

[2020-06-12 20:40] ThexXTURBOXx commented on #102
Okay, thank you very much! Maybe it had something to do with the settings of Windows.
I set the interface scaling in Windows 10 on my 4k monitor to 150%. I don't know, if this helps finding the issue, though.

[2020-06-29 19:16] sampottinger commented on #101
Hey there @nicolasbd! I ran into a different issue on Windows (NoClassDefFoundError com.sun.jna.Native) both with https://github.com/processing/processing-video/releases/tag/r6-v2.0-beta4 and https://github.com/processing/processing-video/releases/tag/latest. Just hoping to get lucky, I tried updating JNA and gst1-java-core (1.2.0) but no luck. @codeanticode, sorry to pull you in but do you have a

[2020-06-29 21:09] sampottinger commented on #101
@codeanticode, just FWIW it does seem to work on mac.

[2020-06-29 21:28] sampottinger commented on #102
Hey there @ThexXTURBOXx! Great news... I was finally able to get to a large resolution Windows display. #103 should resolve the issue.

[2020-06-29 21:34] sampottinger opened #104 "Color as return type is broken"
Getting a syntax error here:

[code]

[2020-06-29 23:28] ThexXTURBOXx commented on #102
Hey there! Thank you very much! I have built your branch on my computer and tried it out, but it still looks pretty small on my machine:
![image](https://user-images.githubusercontent.com/12763829/86065685-8f35e980-ba70-11ea-97c1-3ff0275908dd.png)
I have tried setting the interface scale to automatic again and it didn't change it too much (it made it even a little bit worse):
![image](https://user

[2020-06-29 23:39] sampottinger commented on #102
Hey there! Not a bother at all. Thank you for your help. I do see the interface scaling in the screenshots you provided. Could you say more about what isn’t working? If you go to 300% do you see the change you expected? Do our see IDE text size change? Thanks!

[2020-06-29 23:42] sampottinger commented on #102
I should mention that I don’t think the dialog boxes scale using the preferences. I could see about switching that but let’s see if the IDE (bob-dialog boxes) does the right thing at larger scales.

[2020-06-30 05:24] codeanticode commented on #101
@sampottinger ok, sounds like this is time for a new beta of the video library... I will look into it this week (apologies for my slow response).

[2020-06-30 06:15] ThexXTURBOXx commented on #102
Thank *you* for *your* help! :)
I see some changes I would expect, but some other things seem to be untouched by that setting. These include the menu items and the dialog boxes:
http://prntscr.com/t8wrgs
http://prntscr.com/t8ws0n (Same thing for e.g. the save-dialog box)
Oddly, sub-menus seem to scale properly:
http://prntscr.com/t8wt67
http://prntscr.com/t8wtbs
Also, it looks to me as the scale w

[2020-06-30 23:32] sampottinger commented on #102
Got it. So I think there's three things here:

 - We definitely needed https://github.com/processing/processing4/pull/103 b/c the non-native scaling (preferences option in Processing) might act in ways unintended.
 - The rest of the UI doesn't change (if you re-pull https://github.com/processing/processing4/pull/103 the menu bar resizing is removed) as intended behavior. I think it's a reasonable

[2020-07-01 11:12] ThexXTURBOXx commented on #102
Oh, that's a tough one... I pulled your changes and rebuilt it and tested it on my 4k monitor again.
I also tried changing the native scaling of windows to e.g. 300% (I am normally at 150%, but these results are unchanged from those: https://github.com/processing/processing4/issues/102#issuecomment-651420697). At 300%, this is what the IDE looks like then: http://prntscr.com/t9qnua
So, there still

[2020-07-01 14:15] sampottinger commented on #102
Oh interesting. If I build for windows and post the executable, would you be willing to test it to see if you have the same issue?

[2020-07-01 14:37] ThexXTURBOXx commented on #102
Yes, of course!

[2020-07-01 22:15] sampottinger opened #106 "Automated (jenkins) build broken because ant 1.10.7 download no longer available"
Seeing the following: https://travis-ci.org/github/sampottinger/processing4/builds/704111013

[2020-07-01 22:19] sampottinger commented on #101
Thanks @codeanticode!

[2020-07-01 22:20] sampottinger commented on #102
Cool! I'm getting that prepared over at https://github.com/sampottinger/processing4/pull/37. I'll post some new executables soon. Thanks!

[2020-07-02 06:44] ThexXTURBOXx commented on #102
Okay, perfect. No problem and thank you! :)

[2020-07-04 23:50] Kllngii opened #110 "Some 3.x Tools not working because JavaFX isn't on the classpath"
## Description
As stated, Java 11 comes without JavaFX support, which needs to be provided separately.  I found it out by trying some tools, for example, the "Perceptual Colorpicker", which didn't work.
## Expected Behavior
The "Perceptual Colorpicker" should run without problems, like normal Processing scripts with JavaFX.

## Current Behavior
A <code>java.lang.NoClassDefFoundError</code> excepti

[2020-07-07 00:12] sampottinger commented on #102
Hey there! #103 is available on an integration branch at https://github.com/sampottinger/processing4 (`master`) for testing in the context of other open PRs with a community build at https://www.datadrivenempathy.com/processing. LMK if that community build works for you. Thanks!

[2020-07-07 09:54] ThexXTURBOXx commented on #102
Hey there again!
I think, it is the same result as last time:
http://prntscr.com/tdaj2i (150% native scaling, default for 4k displays)
http://prntscr.com/tdaid8 (300% native scaling)

[2020-07-10 23:49] sampottinger commented on #102
Thanks so much @ThexXTURBOXx. Alright, I think I finally dug down to the bottom of this and... it's not fantastic.

So, you are seeing the results of the fix to #31. Re-enabling `sun.java2d.uiScale.enabled` and everything works well (👍) but only if your scaling is a multiple of 100% (👎) otherwise the fractional text width problem comes back as described in #21 and the editor becomes (arguably) unu

[2020-07-10 23:57] sampottinger opened #111 "Implement font scaling for the entire editor based on processing zoom preference"
The only way to resize the text in the Processing UI under Windows is to use the Processing-native scaling in the preferences screen. Here' the details from #102:

I will mention that display scaling isn't "`(Recommended)`" at time of writing per the Windows-native display settings screen (see below). Unfortunately, I think this is necessary from an accessibility standpoint (especially since Windo

[2020-07-11 00:35] sampottinger commented on #110
Hey there! So this is an interesting one... Curious what you think @benfry (and broader community!). So, we do ship JavaFX to support the FX2D mode but, right now, the IDE doesn't have any FX dependencies and it isn't on the classpath. We can add it to the various relevant classpaths and modify the library path for native libs (see #112). I'm leaning towards continuing down #112 b/c of the value o

[2020-07-11 08:38] ThexXTURBOXx commented on #102
Thank you very much for digging down so far into the issue!
That's a real bummer... Was ``sun.java2d.uiScale.enable`` enabled in Processing 3 then or has there been a major change into GUI/JNA related stuff in JDK 9/10/11?

Also, after looking further into the issues you described and the guys at Jetbrains had as well (I never noticed that back then weirdly enough...) I found a workaround:
http://

[2020-07-19 00:07] pr1metine commented on #48
Hi guys,
Are you talking about the PDE? In that case, I'd like to propose a complete overhaul of it. Maybe we replace it with a [Language Server](https://microsoft.github.io/language-server-protocol) Plugin e. g. for [VS Code](https://github.com/microsoft/vscode) or ship a [Theia](https://github.com/theia-ide/theia) application with Processing.

[2020-07-26 13:58] clankill3r opened #114 "var has no color"
This is not a joke

[code]

var is supported now, but it has no color.

[2020-07-31 13:43] neilcsmith-net commented on #110
Not entirely sure what a "standard Java 11" is these days! :smile: JavaFX was never part of the JDK.  However, there are multiple OpenJDK distributions that have bundled OpenJFX options, including Liberica and Zulu. Should that be the direction.

[2020-07-31 22:17] micycle1 opened #115 "Implement Processing 3 pull requests"
There's currently quite a lot of unmerged (and unclosed) PRs for Processing 3. Many of the requests are years old, and have zero acknowledgment from repo owners so it seems quite clear that they'll never make it into Processing 3 and remain open indefinitely.

So, my suggestion is that Processing 4 should look to implement the best of these PRs -- ones like [make offscreen PGraphicsFX2D work](http

[2020-08-13 07:56] agh2k commented on #114
This issue probably belongs in the [processing-docs](https://github.com/processing/processing-docs) repo since it requires changing keywords_base.txt, which I assume would cause var highlight on Processing 3. Perhaps a branch there for Java 11 support is a solution?

You can manually edit your modes/java/keywords.txt file and add `var	KEYWORD5` in the Datatypes section, as a temporary fix.

[2020-08-15 12:36] benfry commented on #110
Hm, I don't like the idea of adding JavaFX as a dependency for the PDE since we're not using it and it's one more thing to support/sets an expectation for the future that it'll be available and works. We'd have to look at how many existing things actually depend on JavaFX.

[2020-08-15 12:38] benfry commented on #115
I don't have infinite time, and posts like this aren't helpful.

[2020-08-15 12:38] #115 closed

[2020-08-15 12:47] #77 closed

[2020-08-15 12:47] #89 closed

[2020-08-15 12:56] benfry commented on #59
Thanks for the fix! Holding on this one pending how we decide to resolve https://github.com/processing/processing4/issues/53

[2020-08-15 12:57] #104 closed

[2020-08-15 13:00] #106 closed

[2020-08-15 13:02] #102 closed

[2020-08-15 13:06] benfry commented on #111
Uuugh, what a mess.

[2020-08-15 13:10] benfry commented on #48
That's a separate discussion, see here: https://github.com/processing/processing/issues/5423

[2020-08-15 13:15] benfry commented on #48
(Locking this since the issue can be read too broadly and to avoid this turning into a general discussion about the UI of the PDE.)

[2020-08-15 13:34] pr1metine commented on #117
I am working on a LS. It's in a very early stage though and it can merely format PDE files.

[2020-08-15 17:42] sampottinger commented on #117
That's awesome @pr1metine! Obviously I'm sure you are aware but Processing 4 does have a new preprocessor with java 11 syntax support. LMK if you need help wading into any of that!

[2020-08-15 18:22] sampottinger commented on #110
Sounds good! LMK how you want to proceed. We can put #112 on pause.

[2020-08-15 18:35] sampottinger opened #118 "Create a core-sources jar"
This came up from @clankill3r but wanted to check with you @benfry before I did it. It would probably help folks using the core jar as a dependency in Java to have a core-sources jar. That's just adding:

[code]

Have any objections to that?

[2020-08-16 00:39] pr1metine commented on #117
Thank you, @sampottinger ! I'd be happy for your help especially on the Preprocessor and Linting. [This](https://github.com/pr1metine/ls4pde) is what I've been working on so far.

For further questions hit me up in my [Twitter DMs](https://twitter.com/pr1metine).

[2020-08-16 13:14] benfry commented on #80
Trying to gather all this in-progress discussion: https://github.com/processing/processing4/wiki/Exorcising-AWT

[2020-08-16 13:29] benfry commented on #56
More here: https://github.com/processing/processing4/wiki/Exorcising-AWT

[2020-08-16 13:34] #80 closed

[2020-08-16 13:36] benfry commented on #118
If that goes into `library`, isn't the preprocessor going to auto-add that .jar to the classpath and scan it?

[2020-08-16 14:25] #24 closed

[2020-08-17 00:47] benfry opened #119 "JSSC binaries for Windows appear to be macOS files"
…or at least `codesign` thinks so. Is it possible that the cross-compilation for these libs wasn't set quite right? They're `.dylib` files after all.

For that matter, we can also nix the windows_32 versions.

[2020-08-17 02:38] sampottinger commented on #119
Hey there! Checking on this now. Just for housekeeping, the original issue is https://github.com/processing/processing4/issues/71.

[2020-08-17 02:58] sampottinger commented on #119
I checked both `master` here and the integration branch over at https://github.com/sampottinger/processing4/. The serial library is loaded and runs correctly on Windows. Apologies... I'm probably missing something obvious but I also checked and the file here does seem to be a dll (https://github.com/processing/processing4/tree/master/java/libraries/serial/library/windows64).

[code]

<img width="7

[2020-08-17 03:06] sampottinger commented on #119
LMK how you want to proceed @benfry. Per your other request, removal of win32 at #120. Thanks!

[2020-08-17 03:17] sampottinger opened #121 "P3D Rendering Blank"
Looking into this now... weirdly I don't see it happening on the integration branch over at https://github.com/sampottinger/processing4/.

*Edit:* It turns out that it fails when bumping past JDK 11.0.6. Reverting to 11.0.6 restores expected behavior.

<img width="1017" alt="Screen Shot 2020-08-16 at 8 13 42 PM" src="https://user-images.githubusercontent.com/110391/90354078-001f6980-dffd-11ea-900c

[2020-08-17 03:28] sampottinger commented on #121
Found on Mac 10.14.6

[2020-08-17 03:28] sampottinger commented on #121
Could not reproduce on Windows 10.

[2020-08-17 03:48] sampottinger commented on #121
Looks good on Linux too. I have a hunch it's vaqua related but `editor.allow_vaqua = false` on Mac doesn't change the behavior... Looking into it.

[2020-08-17 03:59] sampottinger commented on #121
Disabling the vaqua code doesn't seem to do it... looking into other possible culprits.

[2020-08-17 04:26] sampottinger commented on #121
Hey @benfry, still confirming this but it looks this may be an issue with https://github.com/processing/processing4/commit/b8de4b85a821f2279383d96d7a80f09408651637#diff-26028445eb9f24d55d591453b4778a34

[2020-08-17 04:32] sampottinger commented on #121
Confirmed that the issue is _not_ reproducible on `fix_mac_os_save` which introduces vaqua.

[2020-08-17 05:03] sampottinger commented on #121
Humm... actually

[code]

seems to reproduce (12205d473691460caa25f771016125088430360a). Digging in further...

[2020-08-17 05:18] sampottinger commented on #121
Oh golly gee whiz 😑. Ummm it looks like it happens when bumping the JDK above 11.0.6. Reverting fixes see #123. @benfry

[2020-08-17 10:11] neilcsmith-net commented on #56
As per @sampottinger comment, LWJGL might be better placed in terms of library integration to allow a complete removal of AWT / java.desktop dependencies for a particular renderer.  @benfry interesting page, but surprised to see LWJGL still under discussion - thought that had been dropped?  My issue to discuss necessary changes to PApplet to support it were closed.

[2020-08-17 10:16] #121 closed

[2020-08-17 10:17] benfry commented on #121
Hooray for progress

[2020-08-17 10:29] benfry commented on #119
It came up because notarization was complaining about these binaries inside jssc.jar:

[code]

It looks like there are also `.dll` files in the same directories, so things should function, but in the meantime I have the those `.dylib` entries being removed manually as part of dist as of https://github.com/processing/processing4/commit/ebe2a93987ac3df8dacce4dd48431787c99d438b.

I'll hold on #120 un

[2020-08-17 15:22] sampottinger commented on #119
Oh! My apologies ... thank you for catching that. I will see what’s going on in there. 👀

[2020-08-19 18:11] sampottinger opened #124 "JDK 11.0.7+ shows blank screen with P2D and P3D on macOS (workaround)"
Rendering is blank. Continuation of #123 / #121.

[2020-08-20 18:00] sampottinger commented on #124
Hey @benfry! Sorry if this is a duplicate but the latest JOGL RC (the same one in use in Processing) _does_ render correctly on a Mac with 11.0.8. I'll turn my attention to within our codebase to see what we can do.

<img width="512" alt="Screen Shot 2020-08-19 at 11 34 51 AM" src="https://user-images.githubusercontent.com/110391/90808020-3d714900-e2d4-11ea-8fc5-069c06abe06f.png">

[2020-08-20 23:33] benfry commented on #124
Aha… well, also certainly possible that I broke something else while fiddling around…

[2020-08-20 23:34] #111 closed

[2020-08-20 23:38] benfry commented on #124
i.e. the changes for disabling awt… (https://github.com/processing/processing4/issues/55)

[2020-08-21 00:50] sampottinger commented on #124
Thanks Ben! I'll review #55. Been digging around and haven't quite sorted it yet... Will keep you updated though

[2020-08-21 02:51] sampottinger commented on #124
Looks like there may be an issue in JOGL's `GLWindow` (within `PSurfaceJOGL`). Replacing it with `JFrame` causes drawing to work properly again.  Not sure yet what caused it based on a cursory review of the changelogs but something funky is going on because `GLWindow` works in standalone but invocation within Processing causes the rendering not to display. There's a lot in there though so I unders

[2020-08-22 22:20] REAS opened #127 "pixelDensity() throws error in setup()"
Is it the plan for 4.0 to not be able to have pixelDensity() in setup(), or is that a work-in-progress?

[2020-08-23 20:43] benfry commented on #124
Yeah, NEWT doesn't like AWT either, so throwing it out there as a possibility for headaches. (NEWT was part of the reason that the AWT separation process began in the first place. And the non-AWT approach in JavaFX was an accelerant.)

I don't suppose there's a newer JOGL release? Anyone else having issues on the JOGL forums/issue tracker? Other things I would try:

* Does it work outside the PDE,

[2020-08-23 20:45] benfry commented on #127
Inside the PDE, it should work inside `setup()`. In Eclipse/IntelliJ it still needs to live in `settings()`. Is it not behaving?

[2020-08-23 21:13] REAS commented on #127
Not right now. In the 4.0a1 it throws the non-PDE error:

[code]

[2020-08-23 23:24] sampottinger commented on #124
Hey there!

No, unfortunately, we are on the latest and didn’t see anything in forums or bug tracker (though another look wouldn’t hurt). Those are great questions! I’ll try to look into them probably late this week.

Thanks,
Sam

[2020-08-26 22:42] sampottinger commented on #124
Hey @benfry! I ran the tests you requested.

Unfortunately, no. Please see attached.

<img width="903" alt="Screen Shot 2020-08-26 at 3 40 08 PM" src="https://user-images.githubusercontent.com/110391/91363997-ac5a1080-e7b2-11ea-8de7-90dac46598d5.png">

Again, unfortunately, no. See https://github.com/processing/processing4/tree/alpha_1_jogl_test.

[2020-08-26 22:44] sampottinger commented on #124
@benfry / @codeanticode, let me know if there's any more I can do!

[2020-08-30 14:44] benfry commented on #124
Maybe it's LWJGL time. Heh, heh. Heh. Cough. Hrmph.

[2020-08-30 14:45] benfry commented on #127
Nuts, ok; sounds like I goofed something with those AWT changes.

[2020-08-31 16:25] sampottinger commented on #127
Hey friends! @REAS and @benfry this was a bug that was fixed after the first alpha release. It's fixed on master.

[2020-08-31 16:32] sampottinger commented on #127
Hey there! Sorry for the re-post... just wanted to double check... This was a bug in the first alpha release that has since been resolved within the PDE. It is working inside master. It will need to be inside settings when outside the PDE.

<img width="957" alt="Screen Shot 2020-08-31 at 9 31 54 AM" src="https://user-images.githubusercontent.com/110391/91743561-d9b90c80-eb6c-11ea-9aec-ec6ec453c3ad

[2020-08-31 16:33] sampottinger commented on #127
LMK if this is working for you and I can close.

[2020-09-01 17:03] sampottinger opened #128 "Apple Silicon Support"
Following up in conversation from the forums, just flagging that we will probably need to jump forward in the Java 11 build chain or to JDK 14+ to get http://openjdk.java.net/jeps/8251280 to continue to support mac and, depending on how it is supported, we may need two builds for Mac moving forward. Re OpenJFX: https://mail.openjdk.java.net/pipermail/openjfx-dev/2020-July/026960.html. I don't see

[2020-09-01 19:39] benfry commented on #128
Jump forward meaning 11.0.8? Or that we need to continue updating past that once the JEP is available? Or something else I'm missing?

Apple Silicon would also be another vote for LWJGL, since the move will almost assuredly require a Metal backend, which LWJGL may either have working (is it via bgfx?) or is at least considering.

I'd be willing to bet we won't see JOGL running on ARM Macs for a bi

[2020-09-01 20:03] sampottinger commented on #128
Just that we need to keep updating past. I think it will end up in 11 but there's a chance we might have to move to 14.

Agreed

Yeah I agree with this as well. I would have preferred we kept JOGL but it's looking like it might be difficult with this plus #124

[2020-09-02 08:03] neilcsmith-net commented on #128
We already have a working version of the LWJGL renderer that is running on all 3 OS, but it requires a couple of new methods in PApplet (no way around that, particularly on macOS!).  We're also planning on still supporting JOGL at some point, but need to do this also by abstraction of the JOGL code into a separate package (for us JPMS module).  This would allow shipping either renderer rather than

[2020-09-15 20:32] benfry commented on #124
Ok, found a really ugly hack that gets around things for now. On macOS, setting a flag to toggle the resizability of the window, which seems to revalidate it or recreate it internally. I'm still guessing that we're doing something wrong on window init, but haven't been able to track that down.

For folks using `surface.setResizable(true)` in `setup()`, that'll temporarily need to move to `draw()`.

[2020-09-15 20:39] benfry opened #129 "Shutting off VAqua due to interface ugliness and Contribution Manager freezing"
The default font being used in dialog boxes is really gross now that we have VAqua in there. Not sure what's going on, but it's bad enough I'd remove it before release if we don't have a solution.

<img width="502" alt="Screen Shot 2020-09-15 at 1 11 34 PM" src="https://user-images.githubusercontent.com/1623101/93262265-ebf09880-f771-11ea-9647-e44f496fb602.png">

[2020-09-15 21:13] benfry opened #130 "Move PdePreprocessIssueException to the test package"
This code seems to be only used by the testing classes, so it doesn't appear to be used until the tests (or a dist) is attempted. Let's move it to the test package to avoid confusion.

[2020-09-15 21:16] benfry commented on #127
Ok, then we should be all set since it looks like @REAS was using alpha 1.

[2020-09-15 21:16] #127 closed

[2020-09-16 00:34] benfry commented on #129
Got this set of errors on the console just now, which may provide some clues:

[code]

[2020-09-16 07:40] StanLepunK opened #131 "the word var return "syntax error""
# Description
Cool to test this last version, and unfortunatly I found a little problem !
In the last Processing version 2 alpha, when the name `var`is use that's return a `syntax error`.
`var' is now a key word reserved ? if it's the case maybe the message must be change.

## Steps to Reproduce
[code]
## Your Environment

* Processing version: 4.0 a2
* Operating System and OS version: Mojave 10.1

[2020-09-16 08:18] dzaima commented on #131
In Java 11, `var` is sort-of reserved. Technically, in Java itself it's only a reserved class name, but I'm guessing Processing's preprocessor is treating it as its own token, and so doesn't expect it in other places.

[2020-09-16 08:48] StanLepunK commented on #131
ok , thx for your light. But in the previous build ant of Processing 4 with Java 11. I didn't have this problem, it's why i'm a little surprise !  So If I understand now `var` has `auto` in c++ ? and we can use with any type ?

[2020-09-16 08:53] dzaima commented on #131
Yes, it's like the C++ `auto`. The preprocessor overhaul that added Java 11 syntax was done at at [October 6th, 2019](https://github.com/processing/processing4/commit/ee299ef935e257f78f633384aec1784431cef9c5), so whenever it worked must be before that.

[2020-09-16 09:15] StanLepunK commented on #131
I prefere follow the rule, I just change all my word `var`to `arg`.  So I think I can close this issues.  Thx !

[2020-09-16 09:15] #131 closed

[2020-09-16 18:31] villares commented on #87
I think I could run Python mode on an earlier alpha/pre-alpha (but maybe it was a dream). Would it be helpful to open an issue documenting the errors I get when I try it now, or will it just be noise compared to this discussion here?
I'm quite convinced it would be a bad idea, but I wouldn't want to miss the opportunity of documenting the problems early if you think it would help.

[2020-09-17 22:46] benfry commented on #87
Oh, ha—there shouldn't actually be anything that's breaking Modes yet!

But I just took a look at Python and it seems that there's some sort of a hack in there that breaks because it's using the `frame` field that's been removed from `PApplet`: https://github.com/jdf/processing.py/blob/master/runtime/src/jycessing/PAppletJythonDriver.java#L460

Just posted an issue for it so that Jonathan is aware

[2020-09-17 22:51] benfry commented on #129
Oh dear, the poor Contribution Manager is ugly as hell (though haven't checked how much of this is just caused by Java 11…)

<img width="862" alt="Screen Shot 2020-09-17 at 6 50 03 PM" src="https://user-images.githubusercontent.com/1623101/93536316-b6d17b00-f916-11ea-92e1-b7cb34fd42b3.png">

[2020-09-24 01:09] benfry commented on #129
Confirmed that this is all due to VAqua. Was about to remove it but then saw there's a release 8, but that seems to have similar problems, and the Contribution Manager dialog freezes up completely.

The +/- for the tree view is also problematic.

Turning off VAqua via prefs until we have a better solution. Not gonna remove it just yet, in the hope that we can get a better solution.

Separately, it

[2020-09-24 20:27] benfry opened #135 "Fix “autogenerated by Processing preprocessor” text"
Seeing this in the generated `.java` code; needs to be updated:

    /* autogenerated by Processing preprocessor v3.0.0 on 2020-09-15 */

Not sure where it comes from, and 3.0.0 is confusing; should instead probably use `processing.app.Base.REVISION` instead.

[2020-09-24 20:28] benfry commented on #135
Also looks like the code that's generated doesn't follow our guidelines for whitespace (i.e. before parens, etc) per the rest of the examples or our online guidelines in the wiki.

[2020-09-24 21:19] benfry commented on #118
Just adding a separate build target for this to core. For folks who want it:

[code]

Don't want to include in the download because it's not clear where to put it… do we really tell folks to do Show Package Contents on macOS? Does that help anyone? And I don't want to make it a separate download since I don't need more on my plate when pushing out new releases.

[2020-09-24 21:19] #118 closed

[2020-09-24 23:04] benfry commented on #110
Ok, looks like this affects Art Station and Perceptual Color Picker.

G4P GUI Builder uses `new PImage(java.awt.Image)` so that's also broken, but unrelated to this (unless the next error will be it trying to load JavaFX).

Wonder if a Tool can include JFX jars in its path and have it work… The JFX download is from Gluon, who is also only providing 11.0.2 as a “public release” and requiring paymen

[2020-09-24 23:10] #114 closed

[2020-09-24 23:10] benfry commented on #114
Fixed for 4.0a3.

[2020-09-25 02:59] jeremydouglass commented on #110
A problem that we have had in the past with libraries is that, if the libraries use the same dependency, two libraries cannot be installed at the same time. For example, Box2D, Fisica, and LiquidFun all use JBox2D, so they cannot be installed in Processing 3 at the same time.

https://discourse.processing.org/t/whats-the-best-way-to-handle-multiple-libraries-using-the-same-imports/20577

cansik ha

[2020-09-25 03:04] jeremydouglass commented on #135
Here it is:

https://github.com/processing/processing4/blob/6d8fa349fa01fd522c1ac0ddac2ae64736eaa1fb/java/src/processing/mode/java/preproc/PdeParseTreeListener.java#L909

[2020-09-25 10:25] benfry commented on #110
Hm, could you open a separate issue for that one? In that specific case, the error message was put in place because overwhelmingly, libraries were using conflicting versions of things like Box2D, which would break one another, and then I'd get angry reports that Processing was broken.

[2020-09-25 10:41] #135 closed

[2020-09-25 10:41] benfry commented on #135
Thanks, I'll open another issue for the spacing issue.

[2020-09-25 10:44] benfry opened #136 "Odd spacing in preprocessor-generated code"
Looks like the rewritten size() command that's generated by the preprocessor doesn't follow our guidelines for whitespace (i.e. before parens, etc) per the rest of the examples or our online guidelines in the wiki. In the past, I believe we just grabbed the `size()` command and dropped it back in as-is, but at a minimum it should have a single space after each parameter. Not sure if there are othe

[2020-09-25 12:15] benfry opened #137 "Reduce chatter from launch4j, handle warnings"
When exporting an application for Windows, `launch4j` puts the following out to `stderr`, so we get red text in the console:

[code]

Would be good to shut this off, but we can't just ignore `stderr` since it may contain actual debug information.

Further, other warnings are generated during the process:

[code]

which seems a little more important to actually resolve, though users won't see this

[2020-09-25 18:46] sampottinger commented on #136
Ah dang sorry just saw this. Quick fix and my bad... I don't think "rewrites" like this happen elsewhere. Fixed in https://github.com/processing/processing4/pull/138

[2020-09-25 18:49] jeremydouglass commented on #110
Sure, happy to -- should I open an issue for

1. creating a JavaFX 11.0.2 standalone Processing library, or
2. a dependency manager, or
3. one new issue each

[2020-09-25 18:58] sampottinger commented on #130
See https://github.com/processing/processing4/pull/139

[2020-09-25 22:27] benfry commented on #110
Oh, I was thinking about the dependency issue; or if there's one already in the 3.x repo we can move it over here.

[2020-09-25 22:28] #136 closed

[2020-09-25 22:28] benfry commented on #136
Great; thanks!

[2020-09-25 22:29] #130 closed

[2020-10-01 20:41] companje opened #140 "Option+Backspace on Mac does not delete word left from cursor"
## Description

In Processing 4 alpha the Option+Backspace on Mac OSX does not delete the word left of the cursor like it used to do in the Processing 3 IDE.

## Steps to Reproduce
While editing press Option+Backspace on Mac keyboard. It should delete the word left of the cursor. It does nothing in my case.

## Your Environment

* Processing version: 4.0a2
* Operating System and OS version: Mac OS

[2020-10-03 18:47] benfry commented on #140
You mean shift, not option, right?

If so, you might just be dealing with a clean preferences file, where that's turned off by default. Open Home > Library > Processing > preferences.txt and change:

    editor.keys.shift_backspace_is_delete = false

to

    editor.keys.shift_backspace_is_delete = true

[2020-10-05 10:11] nking07049925 opened #141 "PShapeOpenGL setAttrib() warning says "setNormal()" instead of "setAttrib()""
## Expected Behavior

Calling setAttrib() on PShapeOpenGL between beginShape() and endShape() prints a warning `setAttrib() can only be called outside beginShape() and endShape()`

## Current Behavior

Calling setAttrib() on PShapeOpenGL between beginShape and endShape prints a warning `setNormal() can only be called outside beginShape() and endShape()`

## Possible Causes / Solutions

Replace `PG

[2020-10-05 14:08] companje commented on #140
I really meant Option+Backspace instead of Shift. Also Cmd+Option+ArrowKeys to toggle between tabs was not working.
But somehow - when I tried to make a screengrab of it - it now suddenly works. I will try to reproduce the problem since I'm quite sure there was unexpected behaviour here. I will re-open the issue when the problem re-occurs.

[2020-10-05 14:08] #140 closed

[2020-10-05 14:33] companje commented on #140
Somehow it works when the IDE starts, but after a while (and I'm still investigating when exactly) Option+Backspace and Cmd+Option+ArrowKeys stop working.

[2020-10-05 18:29] lenrik1589 opened #142 "`StringIndexOutOfBoundsException` on PApplet initialisation when using EA versions of Java"
## Description

## Expected Behavior

you can make a PApplet with Java 11+.

## Current Behavior

On early access or preview versions creating `PApplet` fails with `StringIndexOutOfBoundsException` "index -1 out of bounds for length 0";

## Steps to Reproduce

1.get yourself a copy of `processing.core` and Java 15+ (early access version of java);
2.create a class, extending `processing.core.PApple

[2020-10-05 19:18] lenrik1589 commented on #142
after updating all the libraries to those, provided in 4.2a (on Java 14), `PGraphics2D` does not implement `getNative` (just returns null) so PSurfaceJOGL.setCursor(PImage image, int hotspotX, int hotspotY)` just throws NPE

[2020-10-06 16:32] benfry commented on #140
Sorry, missed that the issue title included “word.” Let me know if you learn anything…

[2020-10-06 16:35] benfry commented on #142
Ok, though this is going to be a low priority; only Java 11, the LTS, is supported.

[2020-10-06 16:39] #141 closed

[2020-10-06 16:39] benfry commented on #141
Thanks for the catch; fixed for 4.0a3.

[2020-10-10 08:59] makakken opened #143 "NullPointerException in getSystemZoom() on startup in alpha 2"
## Description
When i attach a screen to my macbook, and close the macbook (so only second screen is applied) Processing 4 is crashing on startup. Maybe it's related to #57?

## Expected Behavior
Processing4 simply starting on second screen.

## Current Behavior
After start of Processing, it's shortly appearing in the MacOS-Dock, and then silently crashing and not starting.

## Steps to Reproduce>

[2020-10-10 11:40] benfry commented on #143
Probably a Java bug, but can you please try the following:

+ Open a Terminal window, and `cd` to the directory that contains Processing.app. For instance, `cd /Applications` if you have it in your Applications folder.
+ Type `./Processing.app/Contents/MacOS/Processing` to start the software.
+ See what's printed in the Terminal window when it starts up and crashes, then copy and paste that here.

[2020-10-11 16:22] makakken commented on #143
[code]

[2020-10-12 20:39] lenrik1589 commented on #142
Another solution i can think of would be to catch this error and display a warning, like "you are currently using unsupported version of java, consider switching to java 11" and probably also a link to download location.

[2020-10-13 21:27] benfry opened #145 "getSystemZoom() not available to splash screen"
The splash screen is created before `Platform` is initialized, so it was necessary to add a workaround to fix #143. But the underlying problem issue needs additional work.

[2020-10-13 21:29] benfry commented on #143
Ahh… That's actually good news; that's our bug. In fact, I'm a little surprised the app was working at all for folks using anything but retina displays on macOS machines.

Added a workaround for 4.0a3, but has revealed a new bug with #145.

[2020-10-13 21:33] #143 closed

[2020-10-13 22:10] benfry commented on #142
Are you sure you're using the version of the “core” classes from this repo? The 3.x code will definitely do this, but I don't see anything obvious for why 4.x would be failing.

What JDK is this using?

[2020-10-16 00:05] Maharal opened #148 "On template for GNU license"
I noticed that some files have a comment with the GNU license at the beginning, however they have older dates. Is there a recent template for this license? Or can I just change the date? I think it would be interesting to use a template with the newest version of the GNU license.

[2020-10-16 11:43] #148 closed

[2020-10-16 18:45] benfry opened #149 "Regression: smooth(4) shows “smooth() can only be used inside settings()” error"
Looks like `smooth()` not properly being hoisted out of `setup()` in 4.x, inside the PDE this results in “smooth() can only be used inside settings()” in the console.

[code]

[2020-10-16 19:48] sampottinger commented on #149
Weird... this was resolved at one point but I’ll take a look.

Sent from my iPhone

[2020-10-17 15:48] x13420x opened #150 "null pointer exception when loading image in settings() Processing 4.0a2"
worked fine in 4.0a1....there has been issues in the pást with this size(paint.width, paint.height) but the error is actually thrown one line before
[code]

[2020-11-06 01:04] Addisonbean opened #203 "Add ability to move ~/.processing directory"
## Description

Processing uses `~/.processing` for it's data with no way to change that. It would be nice to be able to control the location of that directory so it can follow XDG directory specifications and keep users home directories clean.

## Expected Behavior

Processing should provide an environment variable to control where the processing data directory is found, and fall back to `~/.proc

[2020-11-07 23:41] benfry commented on #150
Don't load images in `settings()`. This is explicitly stated in the reference: https://processing.org/reference/settings_.html

[2020-11-07 23:41] #150 closed

[2020-11-17 18:22] suyashjoshi opened #151 "Use Skija (Java bindings to Skia) as a renderer"
## Feature Request

I came across this awesome graphics library (shiny new from folks who build IntelliJ) that can perhaps be used to replace the current graphics library.

Have a look at the project README for examples - https://github.com/JetBrains/skija/  They mentions support for the following formats:

- Bitmap (Canvas)
- OpenGL
- Metal (example pending)
- Vulkan (in future)

[2020-11-20 12:33] micycle1 commented on #151
This looks quite interesting, but it's possibly more comparable to Processing itself, than as a rendering mode for Processing.

[2020-11-20 12:50] benfry commented on #151
This looks like a promising library, and potentially in better shape than the current mess in Java2D or JavaFX.

The path for implementing this would first be someone creating a library that makes use of it, and then over time, improving that to the point where it could be included as part of the core libraries.

[2020-11-20 22:43] micycle1 commented on #151
I've just made a proof-of-concept [here](https://github.com/micycle1/processing-skia) which plugs in to Processing's OPENGL mode, allowing calls to Skija bindings to draw in to the Processing sketch.

The next step would be to wrap up Skija bindings into some sort of `PGraphicsSkia` to create a Skia renderer whose API matches Processing's.

[2020-11-21 00:55] suyashjoshi commented on #151
Awesome..can't wait to try myself!

[2020-11-21 01:39] benfry commented on #149
Any luck?

[2020-11-21 02:28] sampottinger commented on #149
Hey there!

Sorry this got a little buried. If I can’t get to this over the weekend, I’ll try over the holiday next week.

Thanks,
Sam

Sent from my iPhone

[2020-11-21 20:09] sampottinger commented on #149
I have a PR for you @benfry at #152. Apologies for the delay!

<img width="900" alt="Screen Shot 2020-11-21 at 11 59 19 AM" src="https://user-images.githubusercontent.com/110391/99886555-4edb3180-2bf2-11eb-9e03-8269b149b389.png">

[2020-11-25 04:16] REAS commented on #149
this also seems to affect pixelDensity(), same error report. it's my guess the fix is the same, but I'll follow up after ben accepts the pr.

[2020-11-30 07:30] clankill3r commented on #128
@neilcsmith-net (sorry to go slightly offtopic, but where can I test LWJGL renderer?)

[2020-11-30 09:11] matheynen opened #153 "resize() not implemented"
Hi, I've got this error when I tried to change the size of an Image:

RuntimeException: resize() not implemented for this PImage type

[2020-11-30 11:27] neilcsmith-net commented on #128
@clankill3r outside of PraxisLIVE, where it's the version we ship with but currently without ARM binaries, the source is at https://github.com/praxis-live/libp5x and the maven binaries are at https://search.maven.org/search?q=g:org.praxislive.libp5x  Email me directly if you want any more info (email on GitHub profile).

[2020-11-30 17:27] tonsky commented on #151
Hi, I am author of Skija :) I would say Skija is more like `java.awt.Graphics2D` or `javafx.scene.canvas.GraphicsContext`, and I think it might make a great rendering backend for Processing 4. Hard Skija dependencies are Java 11 and OpenGL context (optionally, it can render into bitmap too, but slower).

Happy to clarify further or dive into details. Feel free to ask anything or let me know if you

[2020-12-01 12:25] micycle1 commented on #151
@tonsky

Ok, here's a question: I was testing performance when rendering circles and ellipses across Processing's extant OPENGL mode (P2D), Skija (using the JOGL stage created by Processing, via [processing-skia](https://github.com/micycle1/processing-skia)) and Processing's JavaFX renderer.

Performance is more-or-less the same between P2D and Skija (while JavaFX was much better). Is this what yo

[2020-12-01 15:05] tonsky commented on #151
No, it should be on par with JavaFX at least, hopefully faster (at least it was when I was testing with clipping arbitrary shapes and shadows).

Can you give a rough estimate of what your scene looked like? How many circles, how big, were they transparent, that sort of thing?

Also, what machine did you test it on? Did it have a graphics card?

Probably not, as long as it’s OpenGL it shouldn’t mat

[2020-12-01 22:08] micycle1 commented on #151
10000 circles; radius = 4; this paint: `Paint().setColor4f(new Color4f(0, 0, 0)).setAntiAlias(true)`

54fps P2D; 67fps Skija; ~300fps FX2D

![image](https://user-images.githubusercontent.com/9304234/100802276-17099080-3421-11eb-8080-ef4630793315.png)

![image](https://user-images.githubusercontent.com/9304234/100802234-02c59380-3421-11eb-8680-367878027387.png)

[2020-12-03 16:07] tonsky commented on #151
I am getting 130 fps on Skija (macOS, MacBook Pro (15-inch, 2019), Radeon Pro 560X 4 GB). 150 if I render to sRGB instead of P3.

For FX I am getting ~220 fps in sRGB, no idea how to turn on P3.

I guess FX is faster at drawing circles ¯\\\_(ツ)_/¯. Will do more thorough testing with text, gradients, shadows, clips this weekend.

I pushed code here: https://github.com/JetBrains/skija/blob/master/ex

[2020-12-11 04:12] mediajolt001 opened #154 "NoClassDefError: processing/core/PApplet when starting 4.0a2 on Windows 10"
## Description
Processing is crashing on launch and brings up the error attached here.

## Expected Behavior

Expecting Processing to launch

## Current Behavior
Won't launch - gives an error immediately

## Steps to Reproduce
Launching Processing 4 from Windows Explorer

## Your Environment

* Processing version: 4.0.2a
* Operating System and OS version: Windows 10 Home 64bit v.20H2
* Other infor

[2020-12-15 23:31] benfry commented on #128
A quick test has things running a little better than expected in translation mode (whatever they call it) on the M1, so I'm feeling a little better about sticking with JOGL as the default to keep things compatible in 4.x. Fingers crossed…

Also locking this thread to so we can keep it focused on implementation instead of general discussion about M1 (as always, the forum is a better place for that)

[2020-12-16 02:16] tonsky commented on #151
I finally wrote some benchmarks to compare Skija and JavaFX more closely.

In short: on some tasks, JavaFX is faster (drawing primitives, gradients, filling simple English text), while terribly slow on others (clips, shadows). I also encountered couple of problems (working with text, vsync, scaling, etc).

I guess there’s no right answer ¯\\\_(ツ)\_/¯

Full details & how to repro here https://githu

[2020-12-16 02:39] benfry commented on #142
No response; closing.

[2020-12-16 02:39] #142 closed

[2020-12-18 17:47] micycle1 commented on #151
Cool. Any idea why Skia is so slow with rendering primitives by comparison? Is it overhead or something else?

[2020-12-18 18:17] tonsky commented on #151
There’s some overhead in how JNI in Skija. JavaFX does batching for JNI calls. After that, on OpenGL side, I have no idea what’s going on.

[2021-01-17 22:15] benfry commented on #124
For what it's worth, when testing on an M1 laptop, was seeing some persistent flickering, so now I'm wondering if there's a buffer swapping/offscreen buffer issue happening here. Similar to what we run into with offscreen buffer issues with weird graphics drivers or limited VRAM. Not certain, but worth checking into…

[2021-01-17 22:17] benfry commented on #151
Thanks for sharing your thoughts, @tonsky. Very helpful context.

[2021-01-17 22:20] #149 closed

[2021-01-17 22:20] benfry commented on #149
Resolved for 4.0a3 with code from @sampottinger.

[2021-01-17 23:33] benfry commented on #119
@sampottinger did you have a chance to look into this one? Hoping it's just something simple, but didn't want to delete things willy-nilly.

[2021-01-17 23:34] benfry commented on #154
Check to see if Windows Defender has removed `core.jar` from the Processing folder. Seems that it decides that the file is malware and just gets rid of it.

[2021-01-17 23:37] benfry commented on #151
For anyone interested in doing this, the route would be to create a renderer (ala PGraphicsJavaFX or PGraphicsOpenGL and others) that instead draws using Skijia.

Starting with PGraphicsJava2D would probably be easiest. You'd also need to create a `PSurface` object that works with Skijia to handle windows and mouse/keyboard input (or pass those through to a modified `PSurfaceAWT` if Skijia is set

[2021-01-18 00:39] #124 closed

[2021-01-18 00:40] benfry commented on #124
Fixed with the latest RC of JOGL (v2.4.0-rc-20210111) in 4.0 alpha 3.

[2021-01-18 01:06] benfry opened #155 "Move JDK download logic to build.xml, remove JRE Downloader Ant Task"
I originally wrote a custom Ant Task to handle setting the right cookies and headers to download the JRE and JDK from Oracle when used with Java 8. It's no longer necessary with AdoptOpenJDK and OpenJFX, so the code can be removed. (No logins required, only JDK supported.)

Also, with JDK 11.0.9.1, it was necessary to add [nasty hacks](https://github.com/processing/processing4/commit/166781e48424f

[2021-01-18 13:57] TechnicJelle opened #156 "“An error occurred while starting the application” with 4.0a3 on Windows"
## Description

When I open processing-4.0a3 it shows an error message "An error occurred while starting the application."

## Expected Behaviour

I'd expect it to start up just like processing-4.0a2, which does work normally.

## Current Behaviour

An error message pops up saying "An error occurred while starting the application."

![Untitled](https://user-images.githubusercontent.com/22576047/10

[2021-01-18 15:58] benfry commented on #156
Couple things to check:

* Check to see if `core.jar` is still present in the download directory. Windows Defender has been marking it as malware and removing it.
* Make sure you're not trying to run the software from *inside* the .zip file (meaning, extract the Processing folder by dragging it from inside the .zip to a location on your machine).
* Anything else from the Troubleshooting page: http

[2021-01-18 16:17] TechnicJelle commented on #156
1. core.jar is present in the folder at this location: processing-4.0a3\core\library\core.jar
2. I have unpacked the files, and I am running them from inside a folder on my desktop.
3. - Renaming my sketchbook did not solve the issue.
   - Deleting my preference file did also not solve the issue.
   - I have an M.2 NVMe drive, so I don't suspect "an exceptionally large sketchbook folder" is the pr

[2021-01-18 16:40] benfry commented on #156
Try opening a command prompt, and `cd` to the Processing folder (the one with `processing.exe` in it). Then paste this in and hit return:

[code]

That'll manually start the software and may provide more clues about what's going on.

[2021-01-18 17:03] TechnicJelle commented on #156
That did it! It started up nicely now! And my sketches work perfectly!
I can't seem to get it to generate a new launch4j.log, though

[2021-01-18 17:31] benfry commented on #156
Nuts; sounds like a problem with the launch4j wrapper.

[2021-01-18 17:34] benfry commented on #156
Are you running the software from a folder/path that contains non-ASCII characters?

[2021-01-18 17:39] benfry opened #157 "Can we get rid of `pdexEnabled`?"
Question for @sampottinger… In 3.x and earlier there was a variable called `pdexEnabled` that shut off the fancier PDEX features when there were `.java` tabs (since they didn't play well together). Can this be removed? I'd imagine it's no longer necessary with the changes you've made to the preproc/build/run process.

[2021-01-18 18:05] TechnicJelle commented on #156
I'm running it from `C:\Users\TechnicJelle\Desktop\Processing\processing-4.0a3\processing.exe`, so I really don't think there are any non-ASCII character in there. I could try moving it to `C:\processing-4.0a3\processing.exe` to see if that helps?

[2021-01-18 18:23] benfry commented on #156
Sure, worth a try… 

Oh, also try replacing `.\java\bin\java.exe` with just `java` (no dot in front, etc) and see what happens. Just in case the launcher is trying to use a different version of Java on your machine.

[2021-01-18 18:31] TechnicJelle commented on #156
Running it from `C:\processing-4.0a3\processing.exe` did not yield any different results.

`C:\processing-4.0a3>java -cp lib/pde.jar;core/library/core.jar;lib/jna.jar;lib/jna-platform.jar;lib/antlr-4.7.2-complete.jar;lib/ant.jar;lib/ant-launcher.jar -Djna.nosys=true -Dsun.java2d.uiScale.enabled=false -Djna.boot.library.path=lib -Djna.nounpack=true -Dsun.java2d.d3d=false -Dsun.java2d.ddoffscreen=fa

[2021-01-18 19:47] benfry commented on #156
Nuts; ok… Sounds like the solution is to swap out launch4j for another launcher on Windows. We'll have to see how pervasive this is.

In the meantime, you can put the original line I shared into a `.bat` file so you have something to double-click to start things up.

[2021-01-18 20:01] TechnicJelle commented on #156
I hope this fix is easy

And in the meantime, I think I'll just stick with alpha 2. Or the stable version. Those both work perfectly fine still.

[2021-01-18 20:07] cacheflowe commented on #156
I got this startup error too and was about to report it. I had the same successful manual startup results with the bundled `java.exe` command noted above, but a failure with the system `java` command, as I have `java version "1.8.0_251"` as my default system Java version.

[2021-01-18 21:29] benfry commented on #156
Oh… I have an idea. Try renaming the `java` folder in this release, and then copying the `java` folder from the alpha 2 release over instead. It might be the release number…

[2021-01-18 21:32] TechnicJelle commented on #156
No luck... Still doesn't work

[2021-01-18 21:40] cacheflowe commented on #156
No luck here either :(

[2021-01-18 21:59] benfry commented on #156
Nuts; thought that would be it—this newest Java release is 11.0.9.1 (has an extra digit at the end) so I thought that may have been the cause.

[2021-01-18 22:21] benfry commented on #156
Ok, it's the `processing.exe` file. You can copy `processing.exe` from alpha 2 and it'll work fine.

Which means that it was broken by… the updated splash screen image.

[2021-01-18 22:39] #156 closed

[2021-01-18 22:53] benfry commented on #156
New build (and replacement `processing.exe` file) posted at https://github.com/processing/processing4/releases/tag/processing-1272-4.0a3

[2021-01-20 04:45] REAS opened #158 "Display Window doesn't remember its position"
The Display Window is always launching in the middle of the screen, it's not saving the prior location and opening there. I'm not sure if this is an issue on my machine or OS. Currently running OS X 10.13.6

[2021-01-21 13:46] MarcinKonowalczyk opened #159 "“Could not initialize class com.sun.jna.platform.mac.MacFileUtils$FileManager” during Export on Big Sur"
I'm using Processing 4.0a3 on macOS Big Sur 11.1. An error occurs when exporting an application dependent on files in the "data" folder. The following code works, but not after uncommenting the `font = ...` line.

[code]

Of course, 'Helvetica-12.vlw' is in `./data`:

[code]

## Stacktrace

[code]

[2021-01-21 19:56] PixelCatalyst opened #160 "Triangle drawing inconsistent with Processing 3"
## Description

I built and tested processing4. I noticed small inconsistency with triangle drawing - if two of the vertices are incorrect (e.g. have x == NaN), the third one is rendered as a point in processing 3.5.4/3.5.3, but the same does not happen in processing 4.x. It may be a small difference (or maybe even expected behavior) but if someone has a sketch depending on some weird triangle man

[2021-01-21 20:10] PixelCatalyst opened #161 "Misleading error message when using size() or fullScreen() outside setup"
## Description

Given `size()` or `fullScreen()` invoked outside `setup()` (e.g. in `draw()`) `IllegalStateException` is rightfully thrown. However, when using the Processing Development Environment additional advice message "When not using the PDE..." is displayed. This message might be misleading to inexperienced users as it refers to advanced use case of running Processing in external IDE.

The

[2021-01-21 20:18] PixelCatalyst opened #162 "Resizing window outside setup causes NPE when saving surface pixels"
## Description

After using `surface.setSize()` to resize window outside `setup()` invoking `save()` causes `NullPointerException`. Also, image of the window frame is saved under chosen filename but it has 0 bytes and `.tif` extension after `.jpg` or `.png`. This only happens when non-default renderer is enabled - P2D, P3D or OPENGL.

Code to replicate:

[code]
Stacktrace:
[code]
## Your Environme

[2021-01-21 20:36] PixelCatalyst opened #163 "noSmooth() is not applied when used in setup (PDE)"
## Description
Processing 4 seems to wrongly interpret if it is working isde PDE or not. This causes `noSmooth()` to be impossible to call in `setup()`, as Processing (PDE) demands it to be run inside `setttings()`. Is this expected change in bevahior (it worked no-problem in Processing 3.5.4) ?

Code to replicate:

[code]

## Effect in P3

![P3_circle](https://user-images.githubusercontent.com/34

[2021-01-21 20:42] PixelCatalyst opened #164 "noSmooth() wrongly reports that it was invoked outside settings()"
## Description

When using `noSmooth()` as described in Processing reference (inside `setup()` and after `size()` was called) the error message is shown in the console "noSmooth can only be used inside settings". This is not true, cause the sketch was run inside PDE and according to docs and code comments this is the correct method to disable smoothing.

Code to replicate:
[code]

## Your Environm

[2021-01-21 21:12] dzaima commented on #164
This is definitely the same issue as #163 - the preprocessor fails to move `noSmooth` from settings to setup, causing both it doing nothing, and giving the error that it's outside of settings. This has since been fixed, and `noSmooth` works fine in the latest alpha.

[2021-01-21 21:41] dzaima commented on #160
`JAVA2D` on Processing 4 does what `FX2D` did in Processing 3, and it's inconsistent with `P2D` too (which does its own magic). I don't think there's any value in keeping such things consistent, there are many _much_ bigger changes between Processing 3 and Processing 4 that would break projects millions of times over before this does.

[2021-01-21 23:55] denezth opened #165 "parseJSONObject() and parseJSONArray() do not return null when parsing fails"
## Description
Both parseJSONObject() and parseJSONArray() throw a RuntimeException if the provided JSON String is not valid.

## Expected Behavior
The documentation states:

Both functions should therefore return null in the event of a parsing error. This would not prevent the stackTrace from being displayed in console so that the user can understand the reason.

## Steps to Reproduce
1. Pass an

[2021-01-22 19:54] easytarget2000 opened #167 "IllegalAccessError on launch from IntelliJ IDEA with OpenGL"
## Description
Launching a sketch from IntelliJ IDEA crashes when an OpenGL renderer is selected.

## Expected Behavior
The sketch should launch and run, as it does when I use the Processing IDE or switch to the JAVA2D renderer in my IntelliJ project. This issue also does not occur when running the same code with a Processing 3 `core.jar`.

## Current Behavior
When I run my project, the fullscreen

[2021-01-28 21:37] hx2A opened #169 "copy function not working correctly for Java2D renderer"
## Description
For this code:
[code]

When using the P2D renderer I see two red squares. When using the default renderer I see one. The `copy` function does not work correctly when the first parameter is a PImage object and I use the JAVA2D renderer.

## Expected Behavior
I expect the copy function to work the same for the JAVA2D and P2D renderers.

## Current Behavior
This bug appears in 4.0a3 bu

[2021-02-03 13:40] clankill3r opened #170 "Stencil bug in OpenGL"
There is a bug with stencils in opengl in processing. I know this is not really a big issue for processing since using stencils is quite advanced and beyond the scope of what most processing users do.
However, in a month or so I have time to continue and probably finish my GUI library for processing.
(More about that here:)
https://github.com/clankill3r/writings/blob/master/EXTANT_GUI_Library/READ

[2021-02-06 06:07] REAS commented on #163
Hello @PixelCatalyst. Can you confirm the P4 version for your report. Is this alpha3 or earlier? I'm testing on alpha 3 and see the expected behavior, but I'm testing on OS X, so not a valid test for your software.

[2021-02-07 02:11] SimonBiggsUK opened #171 "Processing 3.x crashing (no error message) when running on a non-native resolution display in fullscreen()"
## Description
Processing 3.x crashing (no error message) when running on a USB-C Macbook Pro connected to a non-native resolution display in fullscreen().
Not sure if this is a hardware or software issue. Might be a Java environment problem?

The means I cannot run Processing 3.x applications on a non-native resolution projector with a current model Mac (USB-C) in fullscreen mode.

## Expected Be

[2021-02-07 02:47] behreajj commented on #169
The super class `PImage` [getNative](https://github.com/processing/processing4/blob/5b5f6eb95293aa5daa3fad31f847028f9fb59cb3/core/src/processing/core/PImage.java#L319) returns `null`. The `JAVA2D` renderer would have to do the same work that the subclass `PImageAWT` in the overridden [getNative](https://github.com/processing/processing4/blob/5b5f6eb95293aa5daa3fad31f847028f9fb59cb3/core/src/proces

[2021-02-14 15:39] hx2A commented on #169
Interesting - when I replace the `createImage` call with `loadImage`, it works correctly for both renderers.

Are you suggesting a fix would be to check the results of the `src.getNative()` call, and if it is`null`, run some extra code?

I'm happy to try this out and submit a PR, but want to know if this is the right approach.

[2021-02-14 20:13] behreajj commented on #169
`Graphics2D.drawImage` already checks for `null` `Image`s. Not only could `getNative` return `null`, a sub-class override of `getNative` could return whatever kind of `Object` it wished and still match the super-class signature. A single if-check probably would not help you very much. You already know what kind of data type an AWT renderer needs. Below is a _hack_ to work around the issue.

[code]

[2021-02-17 16:35] benfry opened #173 "Sign exported applications on Windows"
Similar to #25, but specific to the `.exe` files created when exporting applications on Windows.

(We're already doing this on macOS.)

Possible useful resource for getting started: https://stackoverflow.com/questions/252226/signing-a-windows-exe-file

[2021-02-17 16:35] benfry commented on #25
Possible useful resource https://stackoverflow.com/questions/252226/signing-a-windows-exe-file

Also posted #173, which covers the same issues for exported applications on Windows.

[2021-02-19 19:36] benfry commented on #170
This sounds like you're using the stencil buffer in a way that conflicts with what the Processing OpenGL implementation does. That's not a "bug" in Processing, that's not knowing enough GL to understand how to extend it in the way that you want.

I'd see if you can get some help with that on the forum if someone wants to help you get through the GL parts. You may find it is a bug, and in which cas

[2021-02-19 19:36] #170 closed

[2021-02-22 12:46] benfry opened #174 "“Exception in thread "Contribution Uninstaller" java.lang.NullPointerException” during uninstall"
NPE when no Editor windows are open. Ran into it because 1) first there was a message saying to save all sketches, 2) no sketches unsaved, so just closed windows, 3) no windows open, and:

[code]

[2021-02-22 12:53] #174 closed

[2021-03-02 12:01] neilcsmith-net opened #176 "Export sketch bug? Native libraries in different location relative to JARs"
Just helping someone on the forum with a bug using Video library and sketch export - https://discourse.processing.org/t/exporting-sketch-with-movie-is-blank/27983

This may be a bug in the Video library, but it's caused by the native GStreamer libraries being moved up in the relative hierarchy during sketch export - eg. contents of subfolder `windows64` are moved up adjacent to the jar files.  Sho

[2021-03-03 22:45] maschere opened #177 "Code completion not working"
## Description

Code completion window does not show after pressing ctrl + space. It works fine in Processing 3.5.4

## Expected Behavior

Code completion window pops up after pressing ctrl + space

## Steps to Reproduce

1. open blank project
2. enable "code completion with ctrl+space" in preferences
3.  type **int testvar = 1;**
4. type **testv** in the next line and then press ctrl+space

## Yo

[2021-03-06 02:25] andrevenancio opened #178 "Add the ability to edit .glsl files from the Editor window"
This is probably more like a suggestion than an issue.

I just recently started playing with Processing. One of the things I find it difficult is not being able to import a glsl into the file explorer. I can create a new file and it creates a new .pde file, I can import a shader as long as it's on the data folder but there's no way of editing the shader directly on the processing window.

Would be

[2021-03-08 09:05] danieltorrer commented on #178
Hey @andrevenancio, not sure if you already knew them, but there are some non-official extensions that might have what you need:
- Hamoid created a shader tool: https://discourse.processing.org/t/processing-shader-tool/5476/13
- Izza11 created a shader mode: https://github.com/Izza11/shader-mode

They can be helpful in the meantime, while the discussion to add shader support continues

[2021-03-08 09:15] andrevenancio commented on #178
One of them I knew (doesn't work on processing 4) the other I'll give it a go. Thanks

[2021-03-09 17:23] FalcoGer opened #179 "unable to build, download batik-1.13 not available"
## Description
When trying to call ant run for the first time it tries to download batik-bin-1.13.zip from https://apache.osuosl.org/xmlgraphics/batik/binaries/
However this fails since the file is not available

## Expected Behavior
A file is downloaded.

## Current Behavior
Build aborts because 404

## Steps to Reproduce
1. Clone repo
2. Enter build directory
3. ant run

## Your Environment
* Pr

[2021-03-12 22:22] neonfabrik opened #180 "PApplet.cursor(PImage img) broken for JOGL and AWT since PImage.getNative() always returns null"
## Description

`PImage.getNative()` always returns `null` since 4.0a3 (commit: e46eceab968ede535bf2ff262ee08d7616a76a99).

This produces a `NullPointerException` if `PApplet.cursor(PImage img)` or  `PApplet.cursor(PImage img, int x, int y)` is invoked while the renderer is set to JAVA2D/P2D/P3D.

The recently adopted `null` value return as opposed to an java.awt.Image seems to stem from contribut

[2021-03-14 00:39] GanerCodes opened #181 "Mousereleased mousebutton on default renderer"
When using mouseReleased, on the default renderer (not P3D for example) mouseButton is always zero. You can still see a button type (1, 2, 3) if you pass in MouseEvent and call getNative() on it.

[2021-03-16 10:47] paulcanning opened #182 "Additional Audio input problems with macOS Big Sur"
Downloaded this version as audio permissions are broken on Big Sur, and are still broken on Big Sur. No prompt to ask for access or anything.

[2021-03-17 02:02] oseph commented on #179
I encountered this same issue (on macOS). It seems the URL for batik currently found in the `java/libraries/svg/build.xml` file is outdated. Apache now hosts batik (and a newer 1.14 version) over here: https://archive.apache.org/dist/xmlgraphics/batik/binaries/

I've updated the URL (and batik version to 1.14) in the build file to the above URL, and was able to build Processing4 successfully after

[2021-03-17 02:46] oseph opened #185 "Repo URL in the build README.md instructions points to the "old" Processing3"
Silly tiny issue. But it snagged me!

The repo URL in the build README.md points to the "old" Processing3:

`git clone https://github.com/processing/processing.git`

It should be Processing4

`git clone https://github.com/processing/processing4.git`

I figured this out the hard way by copying the repo URL from the build instructions directly without thinking. Next thing I knew I was getting weird

[2021-03-18 06:12] kevinstadler commented on #182
This looks like it's the Big Sur iteration of the earlier Catalina/Mojave not asking for microphone/camera capture permission problem (see processing/processing-sound#51 and processing/processing-video#134) that was fixed at the Processing level with c5baab0 (release 4.0a3).

In the past month separate people have reported capture failing on Big Sur for both video (processing/processing-video#178)

[2021-03-18 16:25] clankill3r opened #186 "'ArrayIndexOutOfBoundsException: Coordinate out of bounds!' when resizing sketch and saving frame"
When resizing the sketch really small and saving frames an ArrayIndexOutOfBoundsException is triggered.

[code]

alpha 3
OSX 10.15.7

[2021-03-18 16:30] clankill3r opened #187 "setting which display to use does not work"
In preferences, the "Run sketches on display" has no effect for me.

Also setting it in the code with `fullscreen(2)` for example, does not work.

alpha 3
OSX 10.15.7

[2021-03-18 20:13] oseph commented on #181
Can confirm this behaviour on my end using macOS.

I'm looking at `handleMouseEvent(MouseEvent event)` method in PApplet and can't seem to make sense of why this might be happening. I'm new to contributing but I'd be happy to investigate further if someone can point me in the direction.

While I was there I also noticed code to allow macOS users to ctrl-click as right mouse, but my ctrl-clicks do

[2021-03-19 14:03] behreajj commented on #181
Hi @oseph , maybe in [PSurfaceAWT](https://github.com/processing/processing4/blob/d60cc830ddca613a13e42151112d47502e8c1de9/core/src/processing/awt/PSurfaceAWT.java#L1319), due to this [update](https://github.com/processing/processing4/commit/26d04aed77fe5392a7d7868afb8f83846cafd09f#diff-d703b50193b4b119b4f02f9126610c12e6e4273c35cec675360b55166128dd86) on Jan. 20. My hack to deal with this is [here

[2021-03-23 00:18] oseph commented on #181
Alrighty, I _think_ I fixed this bug in #188. Feel free to try it out. Works on my end but I only tested on macOS. Give it a spin if you're using Linux/Windows!

[2021-03-23 10:42] micuat opened #189 "friendly message for "cannot change mode""
## Description

(not sure to put this here or processing3)

The dialog is quite "unfriendly" at the moment and suggest to change

https://github.com/processing/processing4/blob/4153e4fd5c52f5d9358da2b94a91da28af908652/build/shared/lib/languages/PDE.properties#L588-L589

from https://discourse.processing.org/t/i-cant-change-mode/28732/5

## Expected Behavior

something like "please create a new ske

[2021-03-24 00:31] behreajj commented on #181
Hi @oseph,

Thanks for all your hard work. If I were you I would split this into 3 separate pull requests: one to fix the mouse released/clicked issue, one to fix the mac os control click issue and one to introduce new constants for mouse events. I'm only a random person on the Internet, mind you, trying to keep his own library working. This is just my 2c.

[2021-03-24 15:09] oseph commented on #181
@behreajj thank you! That sounds totally reasonable to me. I'm still a little new to this whole contributing thing, so would be happy to do it the proper way. I'll close/cancel this pull request and split it into 3 separate ones.

[2021-03-24 16:17] villares commented on #189
We have seen behaviour like what @micuat described before! Like, creating a folder when one is missing and just telling the user!

[2021-03-26 15:21] mrakgr opened #202 "Fake `textMode(SHAPE) is not supported by this renderer.` error when displaying `PShape`s"
## Description

Whenever I try to use `shape` with the SVG renderer I get an `textMode(SHAPE) is not supported by this renderer.` error message. I thought at first that the error meant the SVG renderer did not support `PShape` objects, but the output ends up being correct and the `.svg` file does get produced.

[code]

## Expected Behavior

[code]

## Current Behavior

[code]

## Steps to Reproduc

[2021-03-28 07:15] StanLepunK commented on #153
Can you give more informations about your problem, bug, a little snippet code to reproduce. On which system your have this problem ?  And do you post your problem on the forum before ? https://discourse.processing.org/

[2021-04-21 12:46] arashizadi opened #192 "build installation points at deprecated batlik version"
Apache removed the binary link of batik-bin-1.13.zip (https://apache.osuosl.org/xmlgraphics/batik/binaries/batik-bin-1.13.zip) since they released version 1.14. in order for processing 4 alpha to install successfully, following needs to be done:

1) after ant requirement, download https://apache.osuosl.org/xmlgraphics/batik/binaries/batik-bin-1.14.zip
2) unzip batik-bin-1.14, then rename main fold

[2021-04-29 18:39] #192 closed

[2021-04-29 18:39] benfry commented on #192
All set now. Bummed that they actually remove the download link; I'll just have to add something that automatically uses the fallback link on download.processing.org.

[2021-04-29 18:42] benfry commented on #179
Now fixed… As noted in #192, I wasn't aware they actually removed the download link once it was longer current. Will have to get a better solution together for that.

[2021-04-29 18:42] #179 closed

[2021-04-29 18:42] #185 closed

[2021-04-29 19:06] #164 closed

[2021-04-29 19:06] benfry commented on #164
Closing as duplicate of #163.

[2021-04-29 19:08] benfry commented on #153
Nothing since November; closing.

[2021-04-29 19:08] #153 closed

[2021-04-30 06:09] StanLepunK commented on #187
work on OSX 10.14.6 but it's very old system, just from 2 years ago :)

[2021-05-01 11:12] arijit4 opened #193 "Implementation of PVector.setHeading()"
There's an method named `PVector.setHeading()` in `p5.Vector` class of p5.js to set the direction of an vector to any given angle. But there's no such option in Processing. It can be settled down easily. But the function seems more self explanatory and easy to understand. It also goes well with the `PVector.heading()` method already present in Processing.

An implementation might look like the fol

[2021-05-07 20:16] thierry75 opened #194 "IDE cursor position is wrong if font size is changed in preferences on macOS"
## Description
in preferences, settings a higher value in "Editor font size" results in having cursor blinking not at the real position, typing will result in inserting code at the wrong place

## Expected Behavior
typing code where the cursor blink
## Current Behavior
actual cursor is not where the cursor blink

## Steps to Reproduce
set Editor font size to 14

## Your Environment

* Processing v

[2021-05-09 07:17] anoniim opened #195 "Method overloads to accept PVector instead of coordinates"
Would it make sense to overload methods that take `x` and `y` (and `z`), e.g. `vertex`, `point`, `line`, `triangle`, `quad`, `square`, `circle`, `text`, `translate` etc. to accept `PVector`?

This could look like:
[code]

I found myself adding these to my base sketch class for convenience and wonder if there is a reason for them not to be included in the core library. Is it because of the ambiguit

[2021-05-18 02:26] codeanticode opened #196 "PShape performance could be improved using buffer object streaming"
Performance was quite good with GLModel (from the [GLGraphics](http://glgraphics.sourceforge.net/) library) in certain instances where PShape still struggles (for example when modifying the coordinates of many vertices at once), because GLModel used a technique called [buffer object streaming](https://www.khronos.org/opengl/wiki/Buffer_Object_Streaming). This technique allows one to write data dir

[2021-05-20 16:04] ertdfgcvb opened #197 "createFont() changes char array"
## Description
When passing a `char[]` as last parameter to `createFont()` the array is changed (sorted?) in place.

## Expected Behavior
The array shouldn't be touched by the function.

## Steps to Reproduce
[code]
## Your Environment
* Processing version:
4.0a3
* Operating System and OS version:
* MacOS 10.15.7

[2021-06-04 07:37] jordirosa-p5 opened #200 "PImage.resize() not implemented in Processing 4??"
## Description

The resize method for the PImage class is not implemented (yet?).

## Expected Behavior

PImage.resize() has always worked, resizing the image to the size provided. Code made using previous versions stops working, the documentation in the processing reference web shows resize() as a usable method, though.

## Current Behavior

Attempting to using the resize method on a PImage throw

[2021-06-04 14:27] behreajj commented on #200
If you want to write one for yourself, it depends on what kind of algorithm you want to use (bicubic, bilinear, nearest neighbor). After reading this [Stack Overflow](https://stackoverflow.com/questions/17640173/implementation-of-bi-cubic-resize) discussion, I wrote this Processing [code](https://github.com/behreajj/CamZup/blob/8cc2f15a801f73df35c58591145d4dcdec171720/src/camzup/pfriendly/ZImage.j

[2021-06-05 17:15] batlleadri commented on #176
Here you have the macosx solution!
<img width="919" alt="contents" src="https://user-images.githubusercontent.com/76947031/120899930-63cd5e80-c632-11eb-86a0-5f56ddb1e5e6.png">

[2021-06-14 15:06] benfry commented on #167
This isn't a Processing bug, it's an issue with how your project is set up. From a quick look, you might have a mismatched version of the JOGL libraries. (The PDE exists to avoid these kinds of errors, because they're a headache; when you're in IntelliJ, you're unfortunately on your own.)

[2021-06-14 15:06] #167 closed

[2021-06-14 15:18] benfry commented on #195
No plans to do this for 4.x, but I've just added a few notes to https://github.com/processing/processing/issues/1897 for background.

[2021-06-14 15:18] #195 closed

[2021-06-14 15:30] benfry commented on #176
Is the fix to move the video libraries into a subfolder called `macosx` inside the `Java` folder of the export? If so, then that's a bug in the video library.

[2021-06-14 15:44] neilcsmith-net commented on #176
@benfry it's likely a bug in Processing itself.  I haven't debugged the process fully, but I'd guess the code that pulls everything up a level at https://github.com/processing/processing4/blob/master/app/src/processing/app/Library.java#L268 is probably the issue.  Is there a reason that is there?  Seems more likely to cause issues than not, as relative links get broken.  Or is there another way th

[2021-06-14 16:18] benfry commented on #176
There should be no `macosx` folder in the export. If the Video Library is expecting that, and the fix is to add one, then it's a bug in the Video Library.

If Export to Application is including the `macosx` folder, then that's a Processing bug.

[2021-06-14 16:20] benfry commented on #200
If you're using `createImage()` or `loadImage()`, you should never run into this.

Can you share an example that causes this problem?

[2021-06-14 16:25] neilcsmith-net commented on #176
@benfry OK, in that case it's a bug in the Video library. Changing relative hierarchy of files in export seems a curious thing to do though!

Guess it's over to someone who wants to pick up the library, although probably better to stop shipping GStreamer inside it.

[2021-06-14 16:28] benfry commented on #197
Yikes, yeah—bad practice. Thanks for identifying the problem and fixing.

[2021-06-14 16:28] #197 closed

[2021-06-14 16:32] benfry commented on #176
It's not changing a relative hierarchy, it's copying platform-specific code from a subdirectory. This is how Libraries work.

GStreamer is shipped with the code so that it works out of the box. Not everyone knows how to install GStreamer themselves, which is the point of the video library since the very first release of Processing: to have video work without additional/hidden installation steps fo

[2021-06-14 16:32] #176 closed

[2021-06-14 16:34] benfry commented on #196
Since you're the maintainer of that code, are you offering to implement it? Or is this a request for someone else to do so?

[2021-06-14 16:40] codeanticode commented on #196
I'd like to implement it. Just could not assign issues to myself in this repo :-)

[2021-06-14 16:42] benfry commented on #196
That's odd, it should have similar permissions as the 3.x repo, but let me know if I need to set something for you.

[2021-06-14 16:46] benfry commented on #193
Adding it for parity with p5.js… Here's the full implementation from there:

[code]

[2021-06-14 16:48] #193 closed

[2021-06-14 16:54] benfry commented on #159
Updated the bug title; this is an issue with JNA on Big Sur. I've already added a catch for it with this commit: https://github.com/processing/processing4/commit/740e4b512ed8c40d770e2884db3251774962fbaf so this should be fixed when I have a chance to post 4.0 alpha 4.

[2021-06-14 16:54] #159 closed

[2021-06-14 16:57] benfry commented on #163
No response; closing. This was probably https://github.com/processing/processing4/issues/149 which was fixed in alpha 3.

If not, please open a new issue!

[2021-06-14 16:57] #163 closed

[2021-06-14 18:14] behreajj commented on #200
[code]

[2021-06-14 18:17] jordirosa-p5 commented on #200
In my case, the image I need to resize is one I create by calling `g.get()`.

The visual effect i get from my app to create a nice blurry effect totally depends on the last lines in my `draw()` function. Here is the most simple version of it:
[code]

[2021-06-14 18:51] benfry commented on #186
Marking this as lower priority… certainly shouldn't behave this way, but is there an actual use case for saving frames at 60 fps while resizing the window?

[2021-06-14 18:54] benfry commented on #200
Perfect, thanks both. `resize()` should be working in both of those cases; I'll check into what's going on.

[2021-06-14 19:15] jordirosa-p5 commented on #200
Thank you!

[2021-06-14 19:28] benfry commented on #178
Thanks; it'd be great to have a Tool that does this well for now, though I totally understand the need for it.

While support could be hacked in, it means 1) setting a new precedent where we're showing entries from the `data` folder as tabs, and 2) needing to support syntax highlighting, indenting, etc for glsl. Neither are terribly difficult, but just introduces some inconsistencies (wait, why no

[2021-06-14 19:33] benfry commented on #165
Resolved with https://github.com/processing/processing4/commit/53246fb23d519afa9e746ff1bba96b48e10b4ad7

Thanks again for your help!

[2021-06-14 19:33] #165 closed

[2021-06-14 19:38] benfry commented on #160
Thanks for the report. I don't think we want to make the bug consistent across renderers here.

The real fix would be to warn users when `NaN` values are sent to graphics methods, but that's a lot of code in a lot of places (basically any time a position or color or… anything? is passed…) so that's probably more overhead than we want to address at the moment.

(Tempting, though, given our audience

[2021-06-14 19:38] #160 closed

[2021-06-14 20:24] #201 closed

[2021-06-14 22:16] benfry commented on #177
Confirmed to be broken in the current source.

@sampottinger it looks like this was broken back in alpha 1, did you have it working properly?

[2021-06-14 22:47] #158 closed

[2021-06-14 22:47] benfry commented on #158
Found and fixed for the 4.0 alpha 4 release!

[2021-06-15 01:32] #202 closed

[2021-06-15 01:32] benfry commented on #202
Fixed for Processing 4.0 alpha 4.

[2021-06-15 01:52] benfry commented on #161
`--external` wasn't getting set properly, but that's now fixed as part of https://github.com/processing/processing4/issues/158

So this should work properly in 4.0 alpha 4 once it's ready.

[2021-06-15 01:52] #161 closed

[2021-06-15 11:06] #169 closed

[2021-06-15 11:29] benfry commented on #180
Thanks for looking into it. For at least the next alpha (but probably the 4.0 release as well), I've decided to go a less ambitious direction with the AWT changes for better backwards compatibility.

[2021-06-15 11:29] #180 closed

[2021-06-15 11:29] benfry commented on #200
Fixed for 4.0 alpha 4.

[2021-06-15 11:29] #200 closed

[2021-06-15 13:59] benfry commented on #187
Working fine here on 10.15.7 and the soon-to-be-release 4.0a4, both by setting Preferences and from code using `fullScreen()`.

Are you sure that `2` is the screen you're after? After plugging in a second display to test this, it made by default screen `2`, and `1` is the external display.

[2021-06-15 13:59] #187 closed

[2021-06-15 19:46] benfry commented on #203
And back to your original request, would we be covered by using `~/.config/processing` by default instead of `~/.processing`? It seems like that's the direction we should be going here (and is a lot more straightforward than reading an environment variable for the location, and then needing to document that somewhere, testing it on various devices, etc).

[2021-06-15 19:52] StanLepunK opened #204 "What's happen with github-actions[bot] <notifications@github.com>"
Hi people,

since yesterday I've received for of thousand mail from ` github-actions[bot]` from Processing it'a a big spam... and now each hour a received hundred mails. Any people are on the same situation? For now it's complicated for me to read the good email from my mail box. For sur I can stop information from Processing but I don't want :)  Is it a problem from github or from Processing ?

E

[2021-06-15 19:54] Addisonbean commented on #203
Personally, yes that would make me happy. However I imagine someone at some point will want it elsewhere, plus I like the flexibility offered by being able to move it anywhere so I think it's a good idea anyway. It seems weird to me to not have a way to change the location of the config, but it's not something I see myself using so I don't really care.

[2021-06-15 20:06] benfry commented on #204
In order to clean up this ancient 3.x repository, I've set issues that have been resolved to lock after 30 days. I've been having trouble with a high number of comments on issues that are 4 and 5 years old, with folks reporting new bugs that kinda sorta sound similar but are unrelated. (And in particular, if the issue is *closed*, then it's been resolved.)

I'd been doing this manually as they cam

[2021-06-15 20:06] #204 closed

[2021-06-15 20:53] processing-bugs opened #205 "Editor windows always open on monitor 1 in multi-monitor setup"
_Original author: ranuncul...@gmail.com (January 02, 2013 00:48:20)_

Every new processing window opens on monitor 1, and processing opens a lot of new windows, so it gets pretty laborious if I'm not working on monitor 1.

Firefox, for example, opens new windows on the same monitor as the window that spawns them.

Processing 2.0b6
Windows 7 64-bit
AMD Radeon HD 5800 series

_Original issue: http:/

[2021-06-15 20:53] #205 closed

[2021-06-15 22:03] StanLepunK commented on #204
Thx again for yours lights boss, I go to close few notifications !!!! I understand now, sometimes even humans need a bot to help them !!!

[2021-06-15 22:17] benfry commented on #204
Thanks!

[2021-06-17 08:02] ertdfgcvb opened #206 "Proper vector, matrix and quaternion classes"
### General purpose vector classes
This “issue” has probably been discussed many times but as a new release is in the works it’s probably worth considering again.
Processing’s PVector class is extremely simple… sometimes too simple, that’s why many libraries and frameworks need to re-implement their own vector classes, creating transportability issues among other things.
It would be nice if Proces

[2021-06-17 10:51] benfry commented on #206
The overloading I just covered a day or two ago in the issue you linked, meaning that it's up to date for 4.x.

For vector, matrix, and quaternion classes, this would be the relevant discussion: https://github.com/processing/processing/issues/1779

Bottom line is that I'd like to see it developed (independently) as a library first, develop a user base so it can get tested, and then when it's irone

[2021-06-18 14:31] benfry opened #207 "Illegal reflective access by processing.app.platform.LinuxPlatform"
The X11 `WM_CLASS` property which is used as the application name by Gnome3 and other window managers, so in response to https://github.com/processing/processing/issues/2534, we added code to modify the name. It relies on a hack that makes a field `public`, so Java 11+ complains about it.

To fix, we need a more reliable way to specify the application name so that it doesn't show up as `Processing

[2021-06-18 15:43] #110 closed

[2021-06-18 15:44] benfry commented on #110
Fixed for 3.0 alpha 5.

[2021-06-18 16:19] arijit4 commented on #193
@benfry In  [673a19e](https://github.com/processing/processing4/commit/673a19ee43cc3aa570dc859844ed6de2501f0ddf), you added
[code]

shouldn't it be the following?
[code]

[2021-06-18 17:36] benfry commented on #193
Yes, and it was immediately fixed in the next commit.

[2021-06-18 17:48] arijit4 commented on #193
@benfry `PVector.setHeding()` isn't highlighted as other methods in `PVector`. But it works perfectly though...

[2021-06-18 18:15] benfry commented on #87
An update on this issue…

The `frame` issue also affects the R Mode, so I've posted a note in that repo about how to fix it.

Also for Shader Mode, there's an issue with how a Menu is being initialized and I've posted the fix for that as well.

Both should be fairly simple fixes, but will need a recompile. The changes *should* be backwards compatible so they won't be maintaining separate 3.x/4.x v

[2021-06-18 18:19] benfry commented on #151
Closing this one for now since it's better handled in a third party (contributed) Library, at least to start. Could be fun but not something I have time for at the moment.

[2021-06-18 18:19] #151 closed

[2021-06-18 18:37] wblut commented on #206
Many external libraries, especially geometry-based, will have specific demands, like double precision or immutability. It would be unyieldy (I don't want to say the impossible-word) to create a general vector class that covers everyone's needs. The same goes, but even more, for matrix implementations. I have never come across a library that covered all the matrix functionality I needed at some poi

[2021-06-18 20:00] benfry commented on #182
Video and Audio seem to be having similar problems.

Try with this version, it adds more entitlements for the macOS “hardened runtime” setup, which may be helpful. https://download.processing.org/processing-1274-macosx.zip

But even without those, I can get video (and I presume audio) capture working on Big Sur. I need more involvement from the authors of those libraries to debug the problem.

Wit

[2021-06-18 20:25] codeanticode commented on #196
The issue options look like this for me:

![image](https://user-images.githubusercontent.com/62246/122612613-6f1c8300-d051-11eb-8b1f-28cf2f0a0ebb.png)

I can only unassign

[2021-06-18 21:54] benfry commented on #182
Closing for now; can't reproduce any issues from the PDE side of things. (Not that it's impossible that there's more to add to the PDE, but I also can't chase down issues with the video and sound libraries in addition to everything else.)

Entitlements tweak is here: https://github.com/processing/processing4/commit/7b75acf2799f61c9c22233f38ee73c07635cea14

[2021-06-18 21:54] #182 closed

[2021-06-19 02:30] benfry commented on #77
FYI for alpha 5… going back to the native file chooser as the default because `JFileChooser` goes from bad to total abomination on Big Sur. So the cure seems worse than the disease here, and the VAqua solution also wound up being a problematic alternative in different ways.

Actual changes in this commit: https://github.com/processing/processing4/commit/5e0776161e4ca1ad5311907ea08f69aa40942f50

[2021-06-19 10:01] ertdfgcvb commented on #206
Well, apparently I stirred up the old vector pond…
IMO more important than the method implementations (chaining, in place vs. copy etc) is an out-of-the-box availability of a shared data type: vecf2,3,4, veci2,3,4, mat3, mat4, etc. and consequent use in the API and libs. Methods can always be extended, eventually…
But it finally appears that the current state is the best with ultra-basic and mat c

[2021-06-19 10:13] wblut commented on #206
Not sure if there's reason to be jealous, for advanced things we basically have all java libraries at our disposal within Processing. Any implementation of vector and matrix math is opiniated. Game engines have a "single" purpose for their math libs: display graphics.  I don't think that's true for Processing. If I'd need to make a choice between customizing Processing for grizzled mathy generativ

[2021-06-19 10:45] ertdfgcvb commented on #206
And what about removing PVector (and the undocumented/hidden PMatrix) completely? They aren’t used anywhere int the API and they could be offered as an optional import (still part of the core libs)… at least it becomes evident that it’s up to the user to make the right math / geom choice and projects don't mix different vector (Vec3 + PVector) types when importing / using something else…

Possibil

[2021-06-19 10:49] benfry commented on #206
No, we can't do that. `PMatrix` is used internally, that's why it exists, and `PVector` is used in a large amount of code that's out there.

[2021-06-19 13:08] #145 closed

[2021-06-19 17:16] benfry opened #208 "Remove usage of com.sun.* in JavaFX library"
We need to have extra `--add-exports` command line args for JavaFX applications, presumably because the `FX2D` classes are calling on things like `com.sun.javafx.geom.Path2D`, which lives in `com.sun.*`. I expect that we need to remove/rewrite those references, now that we're dealing with the picky module system.

[2021-06-19 17:18] benfry opened #209 "Only specify --modules-path when running JavaFX apps"
`processing.mode.java.runner.Runner` is now specifying the necessary modules for JavaFX (so that it won't complain on startup, but this should only be invoked with real FX2D applications, otherwise there's presumably some overhead.

[2021-06-19 17:22] benfry commented on #209
See https://github.com/processing/processing4/commit/8e590b6232949fa5db06ed4863a99e20cf6d7f39 for the changes. Basically, need to detect when `FX2D` is in use (look at the parsed code), and include it.

An alternative would be to bump JavaFX out to its own library, and if the sketch imports it, then we do these extra bits. In a similar fashion, we add a means for a Library (renderer) to add its ow

[2021-06-20 00:18] benfry opened #210 "Update jre-optional lists in build.xml for Java 8"
In [build.xml](https://github.com/processing/processing/blob/master/build/build.xml), we need to update the jre-optional lists based on the Java 8 release notes: http://www.oracle.com/technetwork/java/javase/jre-8-readme-2095710.html

For OS X, these need to happen inside our [appbundler fork](https://github.com/processing/processing/tree/master/build/macosx/appbundler).

These lists are necessary

[2021-06-20 00:18] #210 closed

[2021-06-20 09:17] ertdfgcvb commented on #206
I didn't mean remove from core, just remove as a default import.
The fix would just be `import processing.PVector` or similar for old programs to run in P4… But at least it becomes an explicit import; when dealing with external vector classes there is not a mix of `PVector` or `Vec3` (or anything else) in the same program.
But probably point 2. from the above list is the way to go: no breaking cha

[2021-06-20 10:27] benfry commented on #128
The major obstacles preventing us from doing an Apple Silicon release are primarily the other library/platform components we rely upon. In particular:

* Java VM – The [Zulu builds](https://www.azul.com/downloads/zulu-community/?version=java-11-lts&os=macos&architecture=arm-64-bit&package=jdk) should work fine.

* JOGL – Not clear if/when there will be an Apple Silicon version of [JOGL](https://jo

[2021-06-20 11:05] benfry commented on #128
Additional resources:

* JEP 391: macOS/AArch64 Port – http://openjdk.java.net/jeps/391
* JVM download options for 64-bit ARM: [Azul](https://www.azul.com/downloads/zulu-community/?version=java-11-lts&os=macos&architecture=arm-64-bit&package=jdk) and [Microsoft](https://github.com/microsoft/openjdk-aarch64/releases)
* OpenGL is available [but deprecated](https://developer.apple.com/documentation/x

[2021-06-20 17:12] codeanticode commented on #196
Explored stream object copy, actually not that hard to implement: https://github.com/codeanticode/processing4/commit/a23aaa51980e0bfc1dc2dc7e3c1c47ba3ff8648f

That could help, but what makes PShape sluggish compared with the old GLModel class is that the latter operated directly on the tessellated geometry that's rendered through GL. PShape adds a lot of overhead necessary to properly tessellate p

[2021-06-20 19:42] jetp250 opened #211 "Export fails with Windows target because Launch4j expects different Java version format"
## Description

Launch4j, as bundled with Processing 4.0a4, expects the minimum JRE version specified to be in the format `x.x.x[_xx]`. This probably works for all versions prior to Java 10, but with Java 11 it would be for example `11.0.11`. Linux export doesn't use Launch4j and is therefore unaffected (tested, exported fine).

The new versioning system is detailed in [JEP 223](http://openjdk.jav

[2021-06-21 00:17] benfry commented on #211
Thanks for the report; already fixed this on Friday! It'll be in 4.0 alpha 5: https://github.com/processing/processing4/commit/bb60818b1ffdcd4e6fcf6a823557d51f710bde70

[2021-06-21 00:17] #211 closed

[2021-06-21 15:30] benfry opened #212 "Implement support for handling Java “modules” and clean up JavaFX-specific workarounds"
JavaFX 16 (which we're using as of 4.0 alpha 5) is bundled as a set of Java “modules,” rather than regular `.jar` files. As such, it will complain if the code is loaded from the usual `CLASSPATH`.

For now, there are some workarounds in the build process that treat the (newly separated) JavaFX library as a special case, but this is pretty gross, and we need to either:

1. Start tracking a `modules

[2021-06-21 15:46] benfry commented on #209
Out of the frying pan, into the fire: https://github.com/processing/processing4/issues/212

[2021-06-21 15:46] #209 closed

[2021-06-21 16:05] arijit4 opened #213 "Implementing PShape.saveShape()"
## Description
There's a method named `PShape.loadShape(String)` which imports a `.svg` file. We can use and modify that file in our program. But there's no such method to export such drawings as an `.svg` file. There's a way for exporting `PShapes` as `.pdf` file. But when we work with a very complex program, we've to clean the canvas using `background(int)`. Thus, the pdf gets full of unneccerry

[2021-06-21 21:30] benfry commented on #213
For what it's worth, the complement to the PDF library is the SVG library, which already exists and can save whole displays as SVG. But that's different from `saveShape()`.

[2021-06-23 10:36] benfry commented on #177
Tracked down to 51145a88862840ce6ecb1220714335686c02515e, though unfortunately that's the monolithic commit for the JDK support, ANTLR updates, etc, so it's still hard to know if this is a large problem or just something overlooked.

The internal issue is that `javaCode` is not being set when the code cannot compile, which for code completion is always the case. So there's a `NullPointerException`

[2021-06-23 11:09] #154 closed

[2021-06-23 11:14] benfry commented on #154
Resolved this for 4.0 alpha 5 by catching the error (missing `core.jar`) and showing a more useful message.

[2021-06-23 11:22] benfry commented on #145
Resolved for 4.0 alpha 5, hopefully available soon: https://github.com/processing/processing4/releases

[2021-06-25 10:05] letorbi opened #214 "Module javafx.base not found"
## Description
Processing is not able to start after building it from the alpha 5 or the latest master code.

## Expected Behavior
Well, processing should start without an exception ;)

## Current Behavior
Calling *build/linux/work/processing* returns with the following exception: `java.lang.module.FindException: Module javafx.base not found`

Here the full output of *build/linux/work/processing*

[2021-06-25 10:28] benfry commented on #214
Agh; you wouldn't believe how much time I spent tracking these down across each of the platforms—can't believe it went out with this one set incorrectly.

Anyhow, thanks for the catch!

[2021-06-25 10:28] #214 closed

[2021-06-28 11:08] benfry commented on #194
I'm not seeing this on my Mojave machine. What font are you using?

[2021-06-30 15:23] PratiquesAlgorithmiques commented on #196
Hello Andrés, I'd like to test this. What is v in the above examples ? Thanks !

[2021-06-30 22:37] protonlaser91 opened #217 "PShape.scale not working with PShape.resetMatrix when P2D renderer is used"
## Description

PShape.scale does not play well with PShape.resetMatrix when P2D renderer is selected.
## Expected Behavior

 I believe this to be a bug. I expected the ellipse to be drawn and scaled up absolutely by 2. I tried other svg's (loadShape) and the problem still occurred.
 Without P2D:
![image](https://user-images.githubusercontent.com/44213272/124039952-eb0fb700-d9d1-11eb-8d90-fa042692

[2021-07-01 18:09] codeanticode commented on #196
oh sorry, v is just a temporary PVector to get the current vertex coordinates, here you have the full code, as a Java application:

[code]

You would need to build [this branch](https://github.com/codeanticode/processing4/tree/pshape-stream) in my fork of processing4 to test this.

[2021-07-02 14:17] benfry opened #218 "Move doclet to separate repository"
I'm thinking we should make the doclet into its own repository for clarity. (i.e. processing-doclet or processing4-doclet, or it could even be part of the docs repo.) As far as I can tell, there's nothing specific to this repo. Obviously it uses the `.java` files here, but the doclet has dependencies on the sound and video libraries, and this repo could just be one more dependency like those. (Rel

[2021-07-02 14:24] runemadsen commented on #218
I actually think that would make a lot of sense. @Anadroid is on vacation this week, but if you set up a `processing-doclet` repo and give us access, we can move it over when she's back.

[2021-07-03 09:48] PratiquesAlgorithmiques commented on #196
30fps with 65000 boxes. Things are looking up ! Thanks Andrès ! Jeff

[2021-07-03 12:09] codeanticode commented on #196
Nice, no hiccups?

[2021-07-03 13:54] benfry commented on #218
Ok, done! (I think…)

[2021-07-03 23:33] sampottinger commented on #177
Hey there! It appears that antlr gives up before it can apply the text transformations. I have a branch over at #219 that demonstrates allowing the the text transformation process to continue. That said, antlr does appear to throw out a lot before it is able to recover from a syntax error and my demo only works with the semicolon included at the end. Still working on that.

<img width="768" alt="S

[2021-07-03 23:51] sampottinger commented on #177
Hey there! Ah dang... right after I sent that @benfry, I realized there was another place we could be dropping the tree and, indeed, fixing that brought back autocomplete. See #219.

@maschere, thank you for this report (and your patience). I have used your test case in the attached example.

![Screen Shot 2021-07-03 at 4 50 42 PM](https://user-images.githubusercontent.com/110391/124369276-edb31c0

[2021-07-04 00:28] #181 closed

[2021-07-04 00:29] benfry commented on #181
Fixed for the release after 4.0 alpha 5 (either 4.0 alpha 6 or beta 1).

[2021-07-04 00:38] benfry commented on #177
Phew, working again. Thanks @sampottinger!

[2021-07-04 00:38] #177 closed

[2021-07-04 09:28] letorbi commented on #214
No worries. Testing for other systems is always difficult :) Thanks for merging the PR.

[2021-07-05 19:49] benfry opened #221 "Find/write alternative to japplemenubar and remove it"
In the [macOS build](https://github.com/processing/processing4/tree/master/build/macosx) we have a dependency on [japplemenubar](https://github.com/kritzikratzi/jAppleMenuBar) which hasn't been updated in a decade. I'm concerned that it will stop working at any time, because it uses `SetSystemUIMode`, which is a Carbon API and we're supposed to be using `setPresentationOptions()` (a Cocoa API) ins

[2021-07-06 01:07] #189 closed

[2021-07-06 01:10] benfry commented on #189
After looking through this for a bit, there just isn't an error message that makes sense here and will be useful enough. And there are too many edge cases to really make it a good experience for users. So for alpha 6, I'm changing it to just open a new window in situations where things don't match—i.e. there have been changes, the code would be incompatible, etc.

In those cases, the user will kno

[2021-07-06 06:23] StanLepunK commented on #221
I don't if that's can help or poluate the topic, because my understanding of what is necessary to help. But just in case I work around an  apple menu bar for my library rope. https://github.com/StanLepunK/Rope/blob/master/src/rope/gui/bar/R_Apple_Bar.java I've used javax.swing.JFrame, jMenu, JMenuBar et cetera. If it's a possible option maybe I can try to understand deeply what is necessary for Pr

[2021-07-06 09:24] runemadsen commented on #218
Great! We have moved the `/doclet` folder to the repo and submitted a PR that deletes it from this repo (alongside a few smaller tweaks to the Javadoc comments).

https://github.com/processing/processing4/pull/222

[2021-07-06 09:49] benfry commented on #221
Thanks; it looks like that's solving a different type of menu-related issue, but I appreciate the interest.

[2021-07-06 09:50] benfry commented on #218
Excellent, thanks!

[2021-07-06 09:50] #218 closed

[2021-07-06 09:59] StanLepunK commented on #221
Too bad, maybe next time I can add a stone to the Processing castle !

[2021-07-06 10:14] benfry commented on #221
:)

[2021-07-06 13:20] benfry commented on #67
Both Processing.py and Processing-R rely on the old constant to check whether shift is down. Inside `handleRun()` is the code:

[code]

Sadly, in earlier releases we only set a `boolean` for whether shift was down. I changed to pass the modifiers for greater flexibility, but we've been burned for it (non-shift modifiers don't appear to be used anywhere), not expecting something as fundamental as t

[2021-07-09 11:56] WhiteSte opened #223 "Calls to unregisterMethod may not work"
I'm referring to [#199](https://github.com/processing/processing4/pull/199), i'm using the last version (4.05a)

## Description
I'm supposing that the method unregisterMethod from PApplet class is not working at all.

## Expected Behavior
After loading a method inside PApplet it should be removed.

## Current Behavior
Methods seems to me that are not removed.

## Steps to Reproduce

SKETCH
[code]

[2021-07-09 19:41] benfry commented on #223
Found the problem; looking into it.

[2021-07-09 19:53] #223 closed

[2021-07-09 19:56] benfry commented on #223
Fixed for alpha 6.

There are a couple bugs in your test case—it's removing the name of the object not the object itself (change `name` to `this`).

[code]

You're also removing the method before it has a chance to actually run… i.e. You're adding and then removing the `post()` method inside `setup()` before any `post()` calls are made, so `test.remove()` should be called somewhere later.

[2021-07-09 23:31] WhiteSte commented on #223
Yep the idea was that post() should never run because i was adding and removing at the "same time". I'm not a real programmer so it was just a demo to make the idea. Btw, thanks for the fix, do you have an idea of a date for release 6?

[2021-07-10 11:07] benfry commented on #48
4.0 alpha 6 introduces a new color set *that is not final*. You can also set your own colors and styles [here](https://github.com/processing/processing4/wiki/Themes). We're working on ways to make theming more personal and customizable (without having to mess with `theme.txt`), but more on that later.

[2021-07-11 09:34] WhiteSte opened #224 "Calls to registered method not working"
(Ref #223)
I tried making a jar and using the actual code. Now register method i think is not working anymore. Any method is not working anymore, i attach here my core.jar file, you can test it on the code of the referred topic

EDIT: Just saw that you released the version 4.06a . I've just tried, the error persist here
[core.jar.zip](https://github.com/processing/processing4/files/6796649/core.ja

[2021-07-11 10:06] benfry commented on #223
Yeah, it's not a critique of your code—just trying to help.

[2021-07-11 10:07] benfry commented on #224
Seems to be working correctly here using the fixed version of your example (i.e. making sure to use `this` instead of `name`).

[2021-07-11 10:28] WhiteSte commented on #224
you are right, it seem it's working, Libraries that i'm using still doesn't work, i will take a look at them. Thanks!

[2021-07-11 10:28] #224 closed

[2021-07-11 12:52] benfry commented on #224
Ok, thanks for the update. There certainly could be a problem, so let me know if you find that it's broken.

[2021-07-11 17:30] sampottinger commented on #217
Hey there! Just a quick note that I believe I am seeing the same behavior on Processing 3. @protonlaser91, can you please confirm if you see this in Processing 3 as well?

[2021-07-12 15:35] soprano opened #226 "Editor cursor position is offset to the right when display scaling >100% (on Windows)"
## Description

Display of cursor position in Editor in Windows 10 for the 4.0 alpha versions 5 and 6 is offset to the right when using OS display scaling (>100%)

Change the display of the cursor to the correct position in the Editor

## Expected Behavior

When you see the cursor and you delete to the left or to the right, it is supposed to do it as in the position of the displayed cursor.

It sh

[2021-07-17 07:37] Cyfine commented on #117
I would like to see an official language support VS Code plugin for Processing in the future.

[2021-07-17 16:53] benfry commented on #117
Me too! Just need someone to do the work.

[2021-07-17 16:57] benfry commented on #226
Can you provide more details? Are you on a US English version of Windows or another language? Do you have a HiDPI screen? Have you set the interface scaling in the Preferences window?

[2021-07-18 06:32] LoganDark opened #227 "New color theme hurts my eyes"
## Description
I would have replied to #48, but unfortunately it's been locked due to others.

Onto the issue:

![javaw_spM09XKDNK](https://user-images.githubusercontent.com/4723091/126057874-c8e2a72e-d52d-4c69-a2c1-0a34754031c4.png)

This color scheme is physically painful to my eyes. It is far too bright and vibrant. It is almost (but not quite) as bad as `#0000FF`. Looking at this makes it hard

[2021-07-18 06:57] LoganDark commented on #206
This would start to turn Processing into a sort of opinionated game engine, as it would become unfairly complicated to use anything except matrices and quaternions, because of them being in the standard library - you would also be encouraging beginners to use quaternions, which are basically black boxes which can't really be properly understood (I can back up this claim; keep reading).

While it's

[2021-07-18 11:25] soprano commented on #226
US English. It is not display dependent.  On the same computer if I use the release version 3.5.4, it works perfectly.
You should be able to reproduce it. Check the code for the calculation of width of font.
On Mac I am using the alpha 4.0.3 and it doesn't happen.

[2021-07-18 19:12] soprano commented on #226
I tried interface scaling off and on and it does not change anything. Bug is still there. Did you try to reproduce the bug? Do you have a Windows 10/11 computer?

[2021-07-18 20:19] soprano commented on #226
![image](https://user-images.githubusercontent.com/372871/126081058-8b6886e8-f673-4ec4-9c04-1643cfee3486.png)

[2021-07-18 20:19] soprano commented on #226
See after adding all those numbers, the cursor is far to the right.

[2021-07-18 21:21] soprano commented on #226
I tried all the fonts in Preferences, not a single one behaves well, all work equally wrong.
Am I the only one seeing this bug?

[2021-07-24 02:20] MapMaths opened #228 "Cursor don't move with text"
This is the latest version of Processing 4
This bug happens no matter if the size of window is big or small

https://user-images.githubusercontent.com/62785981/126854828-759bd9ec-1f4e-450d-a927-23a15ba2ca44.mp4

[2021-07-25 00:57] sampottinger commented on #228
Herm.... possibly related to #226. Do you mind providing your windows build and display settings in that other bug report? @MapMaths

https://www.howtogeek.com/236195/how-to-find-out-which-build-and-version-of-windows-10-you-have/

[2021-07-25 01:05] sampottinger commented on #226
Hey there! I attempted to reproduce this on a Windows 10 computer and was unsuccessful. Do you mind providing the specific build number? https://www.howtogeek.com/236195/how-to-find-out-which-build-and-version-of-windows-10-you-have/. If you are comfortable, getting your display settings would also be helpful.

Attempted to reproduce with Windows 10 17763.1817
![processing_cursor](https://user-ima

[2021-07-25 01:11] sampottinger commented on #194
Unable to reproduce in 11.4 on the default monospace font. Was this still a problem for you @thierry75?

![Screen Shot 2021-07-24 at 6 11 00 PM](https://user-images.githubusercontent.com/110391/126884598-a3d27992-a594-40a0-8b8f-ca71423a3bcd.png)

[2021-07-25 01:14] sampottinger commented on #157
See #230

[2021-07-25 03:15] MapMaths commented on #228
OK
Windows 10 Professional
Version Dev(Sun Valley, about 21H1)
OS Build 21354.1
64-bit operating system, x64-based processor
Windows 10 Feature Experience Pack 321.7601.0.3

[2021-07-25 03:30] MapMaths commented on #227
Agree. There should be a tool in preference to change the color theme by user.

[2021-07-26 03:51] sampottinger commented on #228
Hey @MapMaths! Thank you. Can you confirm if you have screen scaling on?

![processing_cursor](https://user-images.githubusercontent.com/110391/126930679-f8f98aec-4b49-4d8a-a915-60b307984fff.png)

[2021-07-26 19:38] soprano commented on #226
Hello. I discovered the differences between what you tried and what I tried. I got it in 2 computers, one with Windows 10 and one with Windows 11, but it does not happen if the Display Settings of the Operating System  are scale as default (100%).

I have both computers scaled at 250%. But both computers with scale at 250% work perfectly on version 3.5.4.

[2021-07-26 19:40] benfry commented on #227
From the download link:

[2021-07-26 19:40] #227 closed

[2021-07-26 19:42] LoganDark commented on #227
This issue of the theme hurting my eyes is still an issue until the replacement comes. Please leave it open so I can track when it's actually fixed.

[2021-07-26 19:44] benfry commented on #227
Removing more drama and locking the thread; this isn't a forum for complaints.

[2021-07-26 19:46] soprano commented on #226
I also tried by scaling in the Windows setting to only 125% and the bug appears.
Basically, version 3.5.4 compensates correctly for that scaling and 4.0.a6 seems to ignore the scaling factor.
I will try to see if I can compensate that with the scaling in the Preferences of Processing.

I tried that and compensating for scaling in Preferences does not change anything. There is no workaround for thi

[2021-07-26 19:48] soprano commented on #226
Using the same monitor, this problem doesn't show up on my Mac Mini. Mac Mini alpha versions work fine if you scale the display in the OS.

[2021-07-26 19:49] soprano commented on #226
I am using a 40 inch 4K monitor.

[2021-07-26 19:51] soprano commented on #226
I see in the left image you have the Display of the O.S. at 100%. I am pretty sure you will see the bug if you change it to any other value (e.g. 125%). My preferred value is 250%.

[2021-07-28 20:16] benfry commented on #228
Closing this as a duplicate of #226.

And there's a separate issue, not connected to display scaling on Windows that's doing the same thing on macOS in #194. Not yet clear if they're identical or separate.

[2021-07-28 20:16] #228 closed

[2021-07-28 20:17] benfry commented on #194
Saw this on someone else's macOS machine, but then wasn't able to reproduce it again. Also not sure if it's something when Processing 4 first runs, and a subsequent launch it's behaving better because `preferences.txt` has been updated properly.

Also not sure if it's the same as #226, but at the moment I suspect they're different. A lot has changed in the font sizing and prefs code—there was lots

[2021-07-28 20:36] benfry commented on #157
Merged. We're now rid of him.

[2021-07-28 20:36] #157 closed

[2021-07-28 20:56] soprano commented on #226
@benfry. It's different from the bug in MacOS. This one happens even if you don't change any font size.
The bug I am reporting here does not happen in the Mac alpha versions.

[2021-07-29 00:10] benfry commented on #226
In alpha 5, I removed the `sun.java2d.uiScale.enabled` setting so that most scaling would work properly (i.e. the startup screen doesn't show in micro size on a HiDPI screen), but unfortunately, it looks like this has issues with custom components (like the editor component we're using) and especially with fractional sizes.

To see if it's the fractional size issue or just a custom component issue

[2021-07-29 00:46] soprano commented on #226
I tried any scaling different than the default (100%) in Windows and that is the only configuration that works fine. As I said above my preferred configuration is 250%. I am also using another Windows 11 computer with same monitor and same problem, and a Mac Mini M1 with same monitor and also alpha version 3 and 6 and on Mac it works perfectly. On Windows it only works fine if I switch to Processi

[2021-08-01 15:00] benfry commented on #194
For anyone having this issue on macOS, were you using a second display?

[2021-08-01 15:09] benfry opened #231 "Remove -Dsun.java2d.uiScale.enabled=false on Windows"
As I understand it, setting `-Dsun.java2d.uiScale.enabled` is a sort of hack/workaround to avoid making code HiDPI compliant. I tried shutting it off in alpha 5 and 6, but we ran into issues like https://github.com/processing/processing4/issues/226, especially with fractional sizes. (Another report, not submitted here, was that the UI looked dreadful/blocky at 125% after this flag was removed.)

S

[2021-08-01 15:12] benfry commented on #206
Closing this since our final word for 4.x is here: https://github.com/processing/processing4/issues/206#issuecomment-863137646

Short version: make a useful library, get folks to use it, if it becomes a standard, let's incorporate it. And for folks who'd like to discuss further, the forum is the best place: https://discourse.processing.org/

[2021-08-01 15:12] #206 closed

[2021-08-01 15:13] benfry commented on #226
Added the UI scaling flag back for alpha 7, but it leaves the underlying problem still broken. That's now being tracked here: https://github.com/processing/processing4/issues/231

[2021-08-01 23:25] whyi commented on #173
Do you want a self-signed cert or what..?

[2021-08-03 19:57] benfry opened #232 "Font size combo boxes in the Preferences window are misaligned on macOS"
So ugly!

<img width="380" alt="Screen Shot 2021-08-03 at 3 52 51 PM" src="https://user-images.githubusercontent.com/1623101/128077951-73ba2be7-1c24-4bbc-b3bf-c22886061ed0.png">

But it's a Java bug, which has been opened since 2017:
https://bugs.openjdk.java.net/browse/JDK-8179076

We could make it not editable, or add an option like "Custom Size…" at the bottom of the menu, which could open up a

[2021-08-03 21:10] soprano commented on #226
Thank you for fixing it.

[2021-08-04 10:07] matwolf opened #233 "Open project crashes Processing"
## Description
Open project crashes Processing

When you click file – open, the Processing IDE closes.

## Expected Behavior
An open file dialog appears letting you choose a folder.

## Current Behavior
Nothing happens for several seconds and the Processing IDE closes without any notice. This is 100% reproducable.

Strange: I can pick projects from the recent-list, but am not able to open from the

[2021-08-04 11:57] benfry commented on #233
Have you tried with one of the downloads that we provide? https://github.com/processing/processing4/releases

[2021-08-04 12:11] matwolf commented on #233
Thank you for the quick response and the hint!

Not until now. Downloaded, ran install.sh, clicked icon – same behaviour. Started directly from folder, so messages popped out:

`$ ./processing⮨
$ WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by processing.app.platform.LinuxPlatform (file:/home/mat/Desktop/processing-4.0a6/lib/pde.jar) to field sun.

[2021-08-04 12:38] matwolf commented on #233
Ben,

`chooser.files.native`was set to true and setting it to false did the trick (in both, the installed instance as well as in the downloaded image) and I now see a file open dialog in the Java-style!

Seemingly, there is some incompatibility with the file open routine of Manjaro's (and presumably Arch's as well).

Thanks a lot and sorry for bothering you – I might have figured that out on my ow

[2021-08-04 12:38] #233 closed

[2021-08-04 13:01] benfry commented on #233
Glad it worked; thanks for the update.

[2021-08-04 13:20] benfry opened #234 "Disable “allow notifications” prompt on macOS"
We don't do any notifications from Processing, but Catalina and Big Sur insist on putting up a “allow notifications?” prompt.

Need to find a way to suppress this. I would hope there's an `Info.plist` key or something like that, but haven't found it yet.

Also applies to exported applications. Just feels dorky to have your newly exported sketch ask about notifications, as if it's a piece of annoy-

[2021-08-07 06:01] codeanticode opened #235 "Finalize attribute API in PShape"
The API to set/get generic attributes in PShape is not completely defined in PShape and implemented in PShapeOpenGL. Only the signature of the methods [setAttrib(String name, int index, float... values)](https://github.com/processing/processing4/blob/master/core/src/processing/core/PShape.java#L2432), [setAttrib(String name, int index, int... values)](https://github.com/processing/processing4/blob

[2021-08-07 14:19] codeanticode commented on #235
Implemented [here](https://github.com/codeanticode/processing4).

[2021-08-07 14:30] codeanticode commented on #196
@benfry Implemented buffer object streaming [here](https://github.com/codeanticode/processing4). Also used the opportunity to finalize the attribute API in PShape, and do some refactoring/cleanup in PGrpahicsOpenGL.

As discussed in previous comments, the new buffer object streaming adds to new methods to PShape, right now they are called beginTessellationUpdate and endTessellationUpdate. All sett

[2021-08-08 05:18] codeanticode opened #236 "i18n support for contributed modes"
Currently, multiple language support is provided for the main Processing app, but this support does not extend to the contributed modes. Each mode could (optionally) provide localized properties files that translate the elements of the mode's UI into different languages.

[2021-08-08 05:26] codeanticode commented on #236
A simple implementation of this support is provided with these changes:

* [New addModeStrings() method in Language](https://github.com/codeanticode/processing4/commit/ba0cc9f406bb91831e0194af63f52736c8f0c4db): the mode's base and localized properties in the current language are read into the LanguageBundle.
* [Load mode strings when initializing the mode](https://github.com/codeanticode/processin

[2021-08-08 12:15] benfry commented on #235
Hm, any ideas for a more elegant way for us to add these without it being 15 new methods in `PShape` that are specific to OpenGL?

[2021-08-08 12:45] codeanticode commented on #236
@benfry I implemented a way to support multiple bundles per mode:

https://github.com/codeanticode/processing4/tree/mode-lang-support-with-mult-bundles

[2021-08-08 13:46] benfry commented on #196
Ok, let's use `beginTessellation()`/`endTessellation()`… we don't use three word API calls anywhere in the API unless it's completely unavoidable.

I'm nervous about a major change like this coming in late, but we'll see how it goes.

[2021-08-08 13:51] benfry commented on #236
Ok, added one comment; maybe put this in as a PR so I can review?

[2021-08-08 14:24] codeanticode commented on #236
Here: https://github.com/processing/processing4/pull/237

[2021-08-08 14:27] codeanticode commented on #196
Get your concern, I ended up making more changes that I originally anticipated, but also did run a fair amount of tests, including with complex libraries such as Hemesh :-) I will go ahead, change the names of the methods and create the PR.

[2021-08-08 14:33] benfry commented on #155
Removed with https://github.com/processing/processing4/commit/d57db2818fd14a632348aed4edf386a13c83828b

[2021-08-08 14:33] #155 closed

[2021-08-08 14:37] benfry opened #239 "Update install.sh to support .pdez and .pdex on Linux"
With https://github.com/processing/processing4/commit/9a94ccfb36b25d2c92c958ee613c58afdfd2b7b6 and related commits, a zip file with extension `.pdex` can be loaded as a Library/Mode/Tool/Example set, and a zip file with the extension `.pdez` will load a sketch from a single file. (The sketch will be unpacked into a temporary file.)

On Linux, we need to update the `install.sh` scripts and the `.xm

[2021-08-08 14:37] codeanticode commented on #196
The other PR with all the recent gl changes: https://github.com/processing/processing4/pull/238

BTW, how can add the new example for the tessellation update mode? The default examples don't seem to be included with the main repo anymore.

[2021-08-08 15:32] #203 closed

[2021-08-08 15:33] benfry commented on #203
Ok, this is now implemented for 4.0 beta 1. Instead of the home directory, it'll use `$XDG_CONFIG_HOME` if it's available, or `~/.config` if not.

[2021-08-08 22:24] codeanticode commented on #235
Yes, I completely agree with this point. I also felt it was a little crazy to add all of these methods in one swoop. However, in my view, these methods are just the logical conclusion of the attribute API in PApplet and the setter/getters in PShape, which results in a large number of methods simply to complete the expected definition of the API.

For example, take the vertex() method in PApplet. I

[2021-08-09 13:10] micycle1 opened #240 "Imports whose name contains "color" cause Syntax error"
## Description
Imports whose name contains "color" cause a syntax error since Processing interprets these as the `color` datatype.

![image](https://user-images.githubusercontent.com/9304234/128710835-9819e00e-875f-4ed3-9522-402b2541d233.png)

## Your Environment
* Processing version: 4.0 Beta 1
* Operating System and OS version: Windows 10

[2021-08-09 15:23] benfry commented on #240
Hm, that's unfortunate, though I'm not sure it's a bug—does that work with `int`, `float`, or any other primitive types? `color` is what's considered a “reserved word” in the language.

[2021-08-10 05:37] Xeloboyo opened #241 "IDE cursor position is wrong based on how long? indented? bracketed? the line is"
## Description

In some longer lines the cursor's visual location is weirdly offset to the right. The cursor 'itself' is in the correct position.
Things like bracket indicators are also weirdly positioned.
## Expected Behavior

I expect the cursor to be where it should be I suppose
## Steps to Reproduce

![d171](https://user-images.githubusercontent.com/13158938/128813054-69abfc66-d661-4817-8492-b

[2021-08-10 09:27] philipp-lehmann opened #249 "Exported Application broken in 4.0 beta 1 on macOS when using P2D or P3D"
## Description
When opening an exported application, it immediately quits and MacOS displays an alert saying that the application "quit unexpectedly".

## Previous Bug Report
This has been an issue a while back (https://github.com/processing/processing/issues/5983), so maybe its my environment.
However I tried a clean new installation with a very simple sketch and couldn't export a functional app.

[2021-08-10 13:26] ndsh opened #242 "Option + Arrow Keys (left or right) shortcut on macOS not working anymore"
## Description
When using the Option Key + Arrow Keys the text cursor doesn't jump from word to word. This is macOS specific I believe.

## Expected Behavior
In Processing 3 one could use the Option Key + Arrow Keys (Left or Right) to jump from word to word.

## Steps to Reproduce
1. Press Option Key together with either Left or Right arrow key.
2. Text cursor won't move

## Your Environment
* Pro

[2021-08-10 20:38] merttoka opened #243 "Fatal Error on P3D vertex call"
## Description

I run two sketches in a Java application. The draw commands are mostly the same between the two versions; the only difference is that the second one draws everything in 3D space with PeasyCam enabled. When I run the `.vertex(x,y,z)` command for a `PShape` on the second sketch, the whole Java application crashes without any error message. I can see the line drawings for half a secon

[2021-08-11 04:03] codeanticode commented on #243
I tested the code in your gist with Processing 4b1, and did not see any crash, even increasing the vertex count to 10,000. I did get a 'OpenGL error 1282 at top endDraw(): invalid operation' error a few times though, but this error does not typically affecting the drawing.

However, the use of PShape in your code is not recommended, because you are creating a new PShape object in each frame (this

[2021-08-11 05:18] merttoka commented on #243
Thanks for the quick reply. I confirm that the issue was creating multiple PShape objects in every frame. Unfortunately, I am building an already existing codebase, and I missed that spot.

Apologies for the inappropriate bug report. I highly appreciate the work you have been doing. Looking forward to the PShape with buffer object streaming.

[2021-08-11 06:56] #243 closed

[2021-08-11 10:55] micycle1 commented on #240
It was working in 3.x.

![image](https://user-images.githubusercontent.com/9304234/129017193-31a699f4-6451-4a9f-bef8-734c37594bff.png)

![image](https://user-images.githubusercontent.com/9304234/129017265-fd5e2c7b-1dd6-4ae7-927c-4730fb2cadc5.png)

[2021-08-11 11:43] micycle1 opened #244 "Can't have Processing 3 and Processing 4 open at same time"
## Description
When Processing 4 is open and I go to open Processing 3, another instance of Processing 4 opens.
Likewise, when Processing 3 is open and I go to open Processing 4, another instance of Processing 3 opens.

On the contrary, when either is open when the other is still loading (at its splash screen), then both versions open as expected.

## Your Environment
* Processing version:
* Opera

[2021-08-11 12:43] soprano commented on #226
Not fixed in 4.0 b1 version (Beta).

[2021-08-11 12:43] soprano opened #245 "Display of cursor position in Editor in Windows 10 for the 4.0 beta 1 and alpha versions 5 and 6 is offset to the right when using OS display scaling (>100%)"
Please refer to bug not fixed in:

https://github.com/processing/processing4/issues/226

[2021-08-11 15:17] sampottinger commented on #245
I'll reopen #226.